<div class="register-container full-height sm-p-t-30">
  <div class="d-flex justify-content-center flex-column full-height ">
    <img
      src="assets/img/logo.png"
      alt="logo"
      pgRetina
      src1x="assets/img/logo.png"
      src2x="assets/img/logo_2x.png"
      width="78"
      height="22"
    />
    <h3>Reset Your Password</h3>
    <p>
      Forgot your password? Enter your e-mail and we will send loging details to
      you.
    </p>
    <form
      class="p-t-15"
      role="form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
    >
      <div class="row">
        <div class="col-md-12">
          <div
            pgFormGroupDefault
            class="form-group form-group-default"
            [class.has-error]="
              resetPasswordForm.controls.email.invalid &&
              (resetPasswordForm.controls.email.dirty ||
                resetPasswordForm.controls.email.touched)
            "
          >
            <label>Email</label>
            <input
              type="email"
              placeholder="Your e-mail address"
              class="form-control no-shadow"
              id="txtemail"
              name="txtemail"
              formControlName="email"
              required
            />
          </div>
          <div
            *ngIf="
              resetPasswordForm.controls.email.invalid &&
              (resetPasswordForm.controls.email.dirty ||
                resetPasswordForm.controls.email.touched)
            "
          >
            <label
              *ngIf="resetPasswordForm.controls.email.errors.required"
              class="error"
              >This field is required.</label
            >
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary btn-cons m-t-10 text-center"
        type="submit"
        [class.disabled]="resetPasswordForm.invalid"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
