<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title"></div>
    </div>
    <div class="card-body">
      <img src="assets/img/logo.png" alt="logo" height="78" />
      <form #f="ngForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-group-default required">
              <label> Enter CRN </label>
              <input
                type="number"
                placeholder="Enter CRN...."
                class="form-control"
                #key1="ngModel"
                required="required"
                name="key1"
                [(ngModel)]="key"
                minlength="11"
              />
            </div>
          </div>

          <div class="col-lg-12">
            <button
              class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-plus"
              (click)="check()"
              [disabled]="f.invalid"
            >
              <span>Check</span>
            </button>
          </div>
        </div>
      </form>

      <div class="row mt-4" *ngIf="clients">
        <div class="col-lg-4" *ngFor="let item of clients">
          <div class="tadween-list" (click)="addClient(item.id)">
            <div class="tadween-list-img">
              <img alt="store" src="../../../assets/img/gallery/6.jpg" />
            </div>
            <div class="tadween-list-info">
              <div>
                <h5>{{ item.name }}</h5>
                <p>Branch: {{ item.branch_id }}</p>
              </div>
            </div>
            <div>
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
