.client .general-info,
.client .invoice-report {
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
}
.client .info {
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
}
.client .info h6 {
  margin: 0;
}
.client .info p {
  color: #00928a;
}
.client button {
  margin: 10px auto;
  display: block;
}
