<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title"></div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group form-group-default required">
            <label> Name </label>
            <input
              type="text"
              placeholder="Enter Name...."
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="col-md-6 rtl">
          <div class="form-group form-group-default required">
            <label> الاسم </label>
            <input
              type="text"
              placeholder="ادخل الاسم...."
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group form-group-default required">
            <label> Region </label>
            <input
              type="text"
              placeholder="Enter Region...."
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-default required">
            <label> Governorate </label>
            <input
              type="text"
              placeholder="Enter Governorate...."
              class="form-control"
              required
            />
          </div>
          <!-- <div
            class="form-group form-group-default form-group-default-select2 required"
          >
            <label class="">Governrate</label>
            <pg-select
              style="width: 100%;"
              [(ngModel)]="gates.Governorate"
              [PlaceHolder]="'Select Option'"
              AllowClear
              ShowSearch
            >
              <pg-option
                *ngFor="let option of Governrates"
                [Label]="option.label"
                [Value]="option.value"
                [Disabled]="option.disabled"
              >
              </pg-option>
            </pg-select>
          </div> -->
        </div>
        <div class="col-md-12">
          <div class="form-group form-group-default required">
            <label> Business ID </label>
            <input
              type="text"
              placeholder="Enter Business ID...."
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="col-lg-12">
          <button
            class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-plus"
          >
            <span>Add</span>
          </button>
          <button
            class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-edit"
          >
            <span>Edit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
