<div class="overlay" [class.hide]=!isVisible [@fadeAnimation]="isVisible">
	<!-- BEGIN Overlay Content !-->

	<div class="overlay-content has-results m-t-20">
		<!-- BEGIN Overlay Header !-->

		<div class="container-fluid">
			<!-- BEGIN Overlay Logo !-->
			<img alt="logo" class="overlay-brand" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png" height="22" src=
			"assets/img/logo.png" width="78"> <!-- END Overlay Logo !-->
			 <!-- BEGIN Overlay Close !-->
			 <a class="close-icon-light overlay-close text-black fs-16" href="javascript:void(0)" (click)="close($event)"><i class="pg pg-close"></i></a> <!-- END Overlay Close !-->
		</div>
		<!-- END Overlay Header !-->

		<div class="container-fluid">
			<!-- BEGIN Overlay Controls !-->
			<input autocomplete="off" #searchField (keyup)="searchKeyPress($event)" class="no-border overlay-search bg-transparent" [(ngModel)]="value" placeholder="Search..." spellcheck=
			"false"><br>

			<div class="inline-block">
				<div class="checkbox right">
					<input checked="checked" id="checkboxn" type="checkbox" value="1"> <label for="checkboxn"><i class="fa fa-search"></i> Search within
					page</label>
				</div>
			</div>

			<div class="inline-block m-l-10">
				<p class="fs-13">
					Press enter to search
				</p>
			</div>
			<!-- END Overlay Controls !-->
		</div>
	</div>
	<!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->