<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title">Add Voucher</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="voucher-taps">
            <button
              (click)="voucher.type = 'check'"
              [ngClass]="{ active: voucher.type == 'check' }"
            >
              Check
            </button>
            <button
              (click)="voucher.type = 'cash'"
              [ngClass]="{ active: voucher.type == 'cash' }"
            >
              Cash
            </button>
            <button
              (click)="voucher.type = 'transfer'"
              [ngClass]="{ active: voucher.type == 'transfer' }"
            >
              Transition
            </button>
            <button
              (click)="voucher.type = 'card'"
              [ngClass]="{ active: voucher.type == 'card' }"
            >
              Card
            </button>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group form-group-default full-width required">
            <label> Received from </label>
            <button class="form-control no-shadow" (click)="ShowStoresModal()">
              Select Client
            </button>
          </div>
        </div> -->
        <div class="col-lg-6 mb-4">
          <button class="my-btn openPopup" (click)="ShowStoresModal()">
            Received from
          </button>
          <div *ngIf="selectedStore.name">
            <div class="acc-content">
              <span>Full Name</span>
              <p>{{ selectedStore.name }}</p>
            </div>
            <div class="acc-content">
              <span>Phone</span>
              <p>{{ selectedStore.phone }}</p>
            </div>
            <div class="acc-content">
              <span>CRN</span>
              <p>{{ selectedStore.commercial_registered }}</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group form-group-default required">
            <label> Prepared by </label>
            <input
              type="text"
              [value]="namePrep"
              readonly
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="col-md-6" *ngIf="voucher.type == 'check'">
          <div class="form-group form-group-default required">
            <label> Check Number </label>
            <input
              type="text"
              placeholder=""
              [(ngModel)]="voucher.check_number"
              class="form-control"
              placeholder="Check number here"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-group-default required">
            <label> Amount </label>
            <input
              type="number"
              (keyup)="check()"
              placeholder="{{ totlePrice }}"
              [(ngModel)]="voucher.amount"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-group-default required">
            <label> Date </label>
            <input
              [owlDateTimeTrigger]="dt8"
              [owlDateTime]="dt8"
              [min]="min"
              class="no-border"
              #datePayment1="ngModel"
              required="required"
              name="datePayment1"
              [(ngModel)]="voucher.date"
            />
            <owl-date-time #dt8 [pickerType]="'calendar'"></owl-date-time>
          </div>
        </div>

        <div class="col-md-6" *ngIf="voucher.type == 'check'">
          <div class="form-group form-group-default full-width required">
            <label> Bank Name </label>
            <p-dropdown
              [options]="countries"
              optionLabel="name"
              [filter]="true"
              [(ngModel)]="selectedCountry"
              [showClear]="true"
              placeholder="Select a Bank"
              *ngIf="countries.length > 0"
            >
              <ng-template pTemplate="selectedItem">
                <div
                  class="country-item country-item-value"
                  *ngIf="selectedCountry"
                >
                  <div>{{ selectedCountry.name }}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="country-item">
                  <div>{{ country.value.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div class="col-md-6" *ngIf="voucher.type == 'transfer'">
          <div class="form-group form-group-default required">
            <label> Transfer referance number </label>
            <input
              type="text"
              placeholder="Transfer referance number"
              class="form-control"
              [(ngModel)]="voucher.transfer_reference_number"
              required
            />
          </div>
        </div>
        <div class="col-md-6" *ngIf="voucher.type == 'card'">
          <div class="form-group form-group-default required">
            <label> Transaction number </label>
            <input
              type="text"
              value=""
              class="form-control"
              [(ngModel)]="voucher.transaction_number"
            />
          </div>
        </div>
        <div class="col-lg-6" *ngIf="voucher.type == 'check'">
          <div class="form-group form-group-default">
            <label>Check picture</label>
            <div class="upload mx-auto mb-lg-0 mb-4">
              <div
                [ngClass]="{ uploaded: uploadedFile }"
                class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative"
              >
                <div class="text-center" *ngIf="!uploadedFile">
                  <input
                    id="upload"
                    type="file"
                    (change)="uploadFile($event)"
                    class="p-absolute"
                    accept=".png,.jpg,.jpeg"
                  />
                  <img
                    src="../../../assets/img/icons/cloud_upload.svg"
                    alt="icon"
                    class="icon-upload"
                  />

                  <h5>Drag & Drop Photo to upload</h5>
                  <p>Or select an option below</p>
                  <!-- <span>Maximum logo height 50px </span> -->
                  <button class="btn">
                    <img
                      src="../../../assets/img/icons/folder.svg"
                      alt="icon"
                    />
                    Browse files
                  </button>
                  -
                </div>
                <div class="show-photo" *ngIf="uploadedFile">
                  <div class="icon" (click)="clearFile()">
                    <img
                      src="../../../assets/img/icons/modal-close.svg"
                      alt="x"
                    />
                  </div>
                  <!-- end icon-->
                  <img [src]="uploadedFile" alt="photo" />
                </div>
              </div>
              <!-- end upload-file-->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="add-voucher-status" *ngIf="inovices.length == 0">
            <img alt="asd" src="../../../assets/img/undraw.svg" />
          </div>
          <div *ngFor="let item of inovices">
            <div class="tadween-list" (click)="showInvoices(item.id)">
              <div class="tadween-list-img">
                <img alt="store" [src]="publicUrl + item.company_logo" />
              </div>
              <div class="tadween-list-info">
                <div>
                  <h5>{{ item.company_name }}</h5>
                  <p>No: {{ item.invoice_id }}</p>
                </div>
              </div>
              <div class="tadween-list-info">
                <div class="text-right">
                  <h5>{{ item.pricing.total_price }} SAR</h5>
                  <span
                    [ngClass]="{ status: item.payment_status == 'unpaid' }"
                    >{{ item.payment_status }}</span
                  >
                  <span
                    class="aggrement"
                    [ngClass]="
                      item.status == 'pending' ? 'pending' : 'approved'
                    "
                    >{{ item.status }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <button
            class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-plus"
            (click)="create()"
          >
            <span>Create</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>

<div
  bsModal
  #SelectClient="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Clients</h2>
        </div>
        <div class="modal-body">
          <div class="items">
            <div
              class="tadween-list"
              *ngFor="let item of stores"
              (click)="getStoreId(item.id, item)"
            >
              <div class="row">
                <div class="col-lg-3">
                  <div class="tadween-list-img">
                    <img alt="store" [src]="publicUrl + item.photo" />
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="tadween-list-info">
                    <div>
                      <span>Store name</span>
                      <p>{{ item.name }}</p>
                    </div>
                    <div>
                      <span>Branch number</span>
                      <p>{{ item.branch_id }}}</p>
                    </div>
                    <div>
                      <span>Mobile number</span>
                      <p>{{ item.phone }}</p>
                    </div>
                    <div>
                      <span>Location</span>
                      <p>{{ item.longitude }}, {{ item.latitude }}</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-2">
                  <div class="tadween-list-price">
                    12 SAR
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #InvoiceInfo="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h2>InvoiceName</h2>
        </div> -->
        <div class="modal-body">
          <div class="invoice">
            <div class="row">
              <div class="col-lg-6">
                <div class="invoice-info">
                  <div>
                    <p>Created By :</p>
                    <h5>{{ inovice.company_name }}</h5>
                  </div>
                  <div>
                    <p>Date :</p>
                    <h5>{{ inovice.created_at }}</h5>
                  </div>
                  <div>
                    <p>Full Name :</p>
                    <h5>{{ inovice.user.name }}</h5>
                  </div>
                  <div>
                    <p>Phone :</p>
                    <h5>{{ inovice.user.phone }}</h5>
                  </div>
                  <div>
                    <p>CRN :</p>
                    <h5>
                      {{ inovice.user.commercial_registered }}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="invoice-info">
                  <div>
                    <p>Payment Method :</p>
                  </div>
                  <h5>{{ inovice.payment_method }}</h5>
                  <hr />
                  <div>
                    <h4>Bill Details</h4>
                    <div class="my-flex bull-info">
                      <h6>Bill Value</h6>
                      <p>{{ inovice.pricing.original_price }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Tax Value</h6>
                      <p>{{ inovice.pricing.tax }}</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Bill Total</h6>
                      <p>{{ inovice.pricing.total_price }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Bill Total</h6>
                      <p>{{ inovice.pricing.total_price }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Paid</h6>
                      <p>{{ inovice.pricing.receipt_vouchers_amount }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Remaining</h6>
                      <p>
                        {{ inovice.pricing.receipt_vouchers_amount_will_paid }}
                        SAR
                      </p>
                    </div>
                  </div>
                  <h5 class="status">{{ inovice.payment_status }}</h5>
                  <h5 class="pending">{{ inovice.approval }}</h5>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="products">
                  <h4>Products</h4>
                  <div class="row">
                    <div class="col-lg-6" *ngFor="let item of inovice.products">
                      <div class="product">
                        <div>
                          <img [src]="publicUrl + item.photo" alt="logo" />
                        </div>
                        <div class="product-info">
                          <p>{{ item.name }}</p>
                          <span> {{ item.price }}SAR</span>
                          <span>Quantity : {{ item.qty }}</span>
                        </div>
                        <div class="product-pricce">
                          <p>{{ item.total }} SAR</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="my-flex btns">
                  <button class="btn btn-complete btn-cons btn-animated">
                    Preview pdf
                  </button>

                  <!-- <button class="btn btn-success btn-cons btn-animated">
                    share
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
