.product{
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.product img{
    display: inline-block;
    height: 60px;
    width: 60px;
}
.product .product-info{
    display: inline-block;
}
.product .product-info p{margin-bottom: 10px;}
.product .product-info span{display: block;color: #aaaaaa;}
.product .product-pricce p{color: #00928a;} 