<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header">
      <div class="card-title">Vouchers</div>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <div class="pull-left m-b-10">
          <div class="d-flex">
            <i class="fas fa-filter open-filter" (click)="openFilter()"></i>
            <div class="input-group transparent">
              <div class="input-group-prepend">
                <span class="input-group-text transparent"
                  ><i class="fa fa-search"></i>
                </span>
              </div>
              <input
                type="text"
                placeholder="Search here by name.... "
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="pull-right mb-10">
          <button class="my-btn" [routerLink]="['/user/add-voucher']">
            New Voucher
          </button>
        </div>
      </div>

      <!-- <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th>Receipt no</th>
              <th>Status</th>
              <th>Date</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-align-middle">
                47
              </td>
              <td class="v-align-middle">
                <p>cash</p>
              </td>
              <td class="v-align-middle">
                <p>1.800 SAR</p>
              </td>
              <td class="v-align-middle">
                <p>150 AED</p>
              </td>
              
              <td class="v-align-middle">
                <div class="d-flex flex-nowrap">



                  <button
                  class="btn btn-danger btn-animated from-top fa pull-right"
                >
                <i class="far fa-edit"></i>
                </button>
                <button
                  class="btn btn-complete btn-animated from-top fa pull-right"
                >
                <i class="far fa-eye"></i>
                </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <div class="row">
        <div class="col-lg-6" *ngFor="let item of vouchers">
          <div class="tadween-list" (click)="showVoucher(item.id)">
            <div class="d-flex">
              <div class="tadween-list-img">
                <img alt="store" src="../../../assets/default.png" />
              </div>
              <div class="tadween-list-info">
                <h5>Receipt no: {{ item.receipt_voucher_id }}</h5>
                <p>{{ item.type }}</p>
                <span>{{ item.date }}</span>
              </div>
            </div>
            <div class="tadween-list-price" *ngIf="item.invoices.length > 0">
              <p>{{ item.invoices[0].pricing.receipt_vouchers_amount }} SAR</p>
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-between mt-3">
        <div class="pagination-select">
          <p class="d-inline-block mr-3">Show </p>
          <div
          class="form-group d-inline-block mr-2" style="width: 60px;"
        >
          <pg-select
            style="width: 100%;"
            [(ngModel)]="selectedOption"
            [PlaceHolder]="'Select '"
          >
            <pg-option
              *ngFor="let option of options"
              [Label]="option.label"
              [Value]="option.value"
            >
            </pg-option>
          </pg-select>
        </div>
        <p class="d-inline-block mr-3">Entries </p>
        </div>
        <div>
          <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"></pagination>
        </div>
        
      </div> -->
    </div>
  </div>
  <!-- END card -->
</div>
<!-- END CONTAINER FLUID -->

<div
  bsModal
  #VoucherInfo="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-body" *ngFor="let itemSelect of selectedVouchers">
          <div class="client">
            <div class="row">
              <div class="col-lg-6">
                <div class="invoice-report">
                  <div class="info">
                    <h6>{{ itemSelect.prepared_by.name }}</h6>
                    <p>
                      Payment method <b>{{ itemSelect.type }}</b>
                    </p>
                  </div>
                  <div class="info">
                    <p>Received from</p>
                    <h6>{{ itemSelect.reciever_from.name }}</h6>
                  </div>
                  <div class="info">
                    <p>Prepared by</p>
                    <h6>{{ itemSelect.prepared_by.name }}</h6>
                  </div>
                  <div class="info">
                    <p>Amount</p>
                    <h6>
                      {{
                        itemSelect.invoices[0].pricing.receipt_vouchers_amount
                      }}
                    </h6>
                  </div>
                  <div class="info">
                    <p>Date</p>
                    <h6>{{ itemSelect.date }}</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <h4>Mony Destribution</h4>
                <div class="product" *ngFor="let item of itemSelect.invoices">
                  <div>
                    <img [src]="publicUrl + item.company_logo" alt="logo" />
                  </div>
                  <div class="product-info">
                    <p>{{ item.company_name }}</p>
                  </div>
                  <div class="product-pricce">
                    <p>{{ item.pricing.total_price }} SAR</p>
                    <p
                      [ngClass]="
                        item.payment_status == 'partially_paid'
                          ? 'parillay'
                          : 'paid'
                      "
                    >
                      {{ item.payment_status }}
                    </p>
                    <p class="approved">{{ item.approval }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="my-btn d-block m-auto">Share</button> -->
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>

<div
  bsModal
  #filterModal="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-body filter-modal">
          <form>
            <div>
              <span class="d-block">Amount</span>
              <div class="half">
                <label>From</label>
                <input type="number" />
              </div>
              <div class="half">
                <label>To</label>
                <input type="number" />
              </div>
              <div>
                <label>Store</label>
                <p-dropdown
                  [options]="countries"
                  optionLabel="name"
                  [filter]="true"
                  [(ngModel)]="selectedCountry"
                  name="select"
                  [showClear]="true"
                  placeholder="Select Store"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="selectedCountry"
                    >
                      <div>{{ selectedCountry.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <div>{{ country.value.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div>
                <label>SalesMan</label>
                <select>
                  <option>Omda</option>
                  <option>Mohammed</option>
                  <option>Abdo</option>
                </select>
              </div>
              <div>
                <label>Payment Method</label>
                <select>
                  <option>All</option>
                  <option>Pay Now</option>
                  <option>Pay Later</option>
                </select>
              </div>
              <div>
                <label>Date</label>
                <input type="date" />
              </div>
              <button class="my-btn">Applay</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
