<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title"></div>
    </div>
    <div class="card-body">
      <form #f="ngForm">
        <div class="row">
          <div class="col-lg-3">
            <div class="upload mx-auto mb-lg-0 mb-4">
              <div
                [ngClass]="{ uploaded: uploadedFile }"
                class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative"
              >
                <div class="text-center" *ngIf="!uploadedFile">
                  <input
                    id="upload"
                    type="file"
                    (change)="uploadFile($event)"
                    class="p-absolute"
                    accept=".png,.jpg,.jpeg"
                  />
                  <img
                    src="../../../assets/img/icons/cloud_upload.svg"
                    alt="icon"
                    class="icon-upload"
                  />

                  <h5>Drag & Drop Photo to upload</h5>
                  <p>Or select an option below</p>
                  <!-- <span>Maximum logo height 50px </span> -->
                  <button class="btn">
                    <img
                      src="../../../assets/img/icons/folder.svg"
                      alt="icon"
                    />
                    Browse files
                  </button>
                  -
                </div>
                <div class="show-photo" *ngIf="uploadedFile">
                  <div class="icon" (click)="clearFile()">
                    <img
                      src="../../../assets/img/icons/modal-close.svg"
                      alt="x"
                    />
                  </div>
                  <!-- end icon-->
                  <img [src]="uploadedFile" alt="photo" />
                </div>
              </div>
              <!-- end upload-file-->
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-md-6">
                <div
                  class="form-group form-group-default required"
                  [ngClass]="{
                    'has-error': name.touched && !name.valid
                  }"
                >
                  <label> Product Name </label>
                  <input
                    type="text"
                    class="form-control"
                    #name="ngModel"
                    required="required"
                    minlength="3"
                    name="name"
                    [(ngModel)]="products.name"
                    placeholder="Product Name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="form-group form-group-default required"
                  [ngClass]="{
                    'has-error': price.touched && !price.valid
                  }"
                >
                  <label> Price </label>
                  <input
                    type="number"
                    class="form-control"
                    #price="ngModel"
                    required="required"
                    name="price"
                    [(ngModel)]="products.price"
                    placeholder="Price "
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label> Stock </label>
                  <input
                    type="number"
                    placeholder="Stock...."
                    class="form-control"
                    #stock="ngModel"
                    name="stock"
                    [(ngModel)]="products.stock"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div
                  class="form-group form-group-default required"
                  [ngClass]="{
                    'has-error': categoryText.touched && !categoryText.valid
                  }"
                >
                  <label> Category </label>
                  <input
                    type="text"
                    placeholder="Category...."
                    class="form-control"
                    #categoryText="ngModel"
                    required="required"
                    minlength="3"
                    name="categoryText"
                    [(ngModel)]="products.categoryText"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="form-group form-group-default required"
                  [ngClass]="{
                    'has-error': barcode.touched && !barcode.valid
                  }"
                >
                  <label> Barcode </label>
                  <input
                    type="text"
                    class="form-control"
                    #barcode="ngModel"
                    required="required"
                    name="barcode"
                    [(ngModel)]="products.barcode"
                    placeholder="Barcode "
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <button
              class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-plus"
              [disabled]="f.invalid"
              (click)="addProduct()"
              *ngIf="!productId"
            >
              <span>Create</span>
            </button>
            <button
              class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-plus"
              [disabled]="f.invalid"
              *ngIf="productId"
              (click)="editProduct()"
            >
              <span>Edit</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END card -->
</div>
