.login-wrapper .bg-pic > .img-holder {
  height: 100%;
  width: 100%;
  background-size: calc(100% - 500px) !important;
  background-repeat: repeat !important;
  background-color: #fff !important;
  opacity: 1;
  background-position: left center !important;
}
img {
  object-fit: contain;
  transform: scale(2);
}
.register {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  color: #000;
  span {
    color: #00473f;
    text-decoration: underline;
  }
}
