<div class="login-wrapper">
  <!-- START Login Background Pic Wrapper-->
  <div class="bg-pic">
    <!-- START Background Pic-->
    <div
      class="img-holder"
      [ngStyle]="{ background: 'url(../assets/inos-login.jpg)' }"
    ></div>
  </div>
  <!-- END Login Background Pic Wrapper-->
  <!-- START Login Right Container-->
  <div class="login-container bg-white">
    <div
      class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40"
    >
      <img
        src="assets/img/logo.png"
        alt="logo"
        pgRetina
        src1x="assets/img/logo.png"
        src2x="assets/img/logo_2x.png"
        width="78"
        height="22"
      />

      <p class="p-t-35">Sign in</p>
      <!-- START Login Form -->
      <form class="p-t-15" role="form">
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Login</label>
          <input
            type="text"
            name="phone"
            [(ngModel)]="user.phone"
            required
            placeholder="phone"
            class="form-control no-shadow"
          />
        </div>
        <div class="form-group form-group-default">
          <i
            class="fa showPassword"
            [ngClass]="inputPassword ? 'fa-eye' : 'fa-eye-slash'"
            (click)="inputPassword = !inputPassword"
          ></i>
          <label>Password</label>

          <input
            [type]="inputPassword ? 'password' : 'text'"
            class="form-control no-shadow"
            placeholder="Password"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            required
          />
        </div>

        <!--  Form error message -->

        <!-- START Form Control-->
        <div class="row">
          <!-- <div class="col-md-6 no-padding sm-p-l-10" style="width:50%">
						<div class="checkbox ">
							<input type="checkbox" value="1" id="checkbox1">
							<label for="checkbox1">Keep Me Signed in</label>
						</div>
					</div> -->
          <div class="" style="width: 50%">
            <a [routerLink]="['/reset-password']" class="text-info small"
              >Forgot password?</a
            >
          </div>
        </div>
        <!-- END Form Control-->
        <button class="btn btn-primary btn-cons m-t-10" (click)="loginForm()">
          Sign in
        </button>

        <a [routerLink]="['/register']" class="register"
          >Not a member? <span>Join us</span></a
        >
      </form>
      <!--END Login Form-->
    </div>
  </div>
  <!-- END Login Right Container-->
</div>
