<div class="register-container full-height sm-p-t-30">
  <div class="d-flex justify-content-center flex-column full-height ">
    <img
      src="assets/img/logo.png"
      alt="logo"
      pgRetina
      src1x="assets/img/logo.png"
      src2x="assets/img/logo_2x.png"
      width="78"
      height="22"
    />
    <h3>Change Password</h3>
    <p>
      Please enter your new passowrd.
    </p>
    <form
      class="p-t-15"
      role="form"
      [formGroup]="changePasswordForm"
      (ngSubmit)="changePassword()"
    >
      <div class="row">
        <div class="col-md-12">
          <div pgFormGroupDefault class="form-group form-group-default">
            <label>Password</label>
            <input
              formControlName="password"
              type="password"
              placeholder="Your new password"
              class="form-control"
              required
            />
          </div>
          <div
            *ngIf="
            changePasswordForm.controls.password.invalid &&
              (changePasswordForm.controls.password.dirty ||
              changePasswordForm.controls.password.touched)
            "
          >
            <label
              *ngIf="changePasswordForm.controls.password.errors.required"
              class="error"
              >This field is required.</label
            >
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-cons m-t-10 text-center" type="submit">
        Change Password
      </button>
    </form>
  </div>
</div>
