<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header">
      <div class="card-title">Product List</div>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <div class="pull-left m-b-10">
          <div class="input-group transparent">
            <div class="input-group-prepend">
              <span class="input-group-text transparent"
                ><i class="fa fa-search"></i>
              </span>
            </div>
            <input
              type="text"
              placeholder="Search here by name.... "
              class="form-control"
            />
          </div>
        </div>
        <div class="pull-right mb-10">
          <button class="my-btn" [routerLink]="['/user/add-product']">
            New Product
          </button>
        </div>
      </div>

      <!-- <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>store name</th>
              <th>stock</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products">
              <td class="v-align-middle">
                <img
                  [src]="publicUrl + item.photo"
                  alt=""
                  (click)="showImage(publicUrl + item.photo)"
                />
              </td>
              <td class="v-align-middle">
                <p>{{ item.name }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.price }} RS</p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.store.name }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.stock }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.categoryText }}</p>
              </td>
              <td class="v-align-middle">
                <div class="d-flex flex-nowrap">
                  <button
                    class="btn btn-danger btn-animated from-top fa pull-right"
                    [routerLink]="['/user/edit-product/' + item.id]"
                  >
                    <i class="far fa-edit"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <div class="row">
        <div class="col-lg-6" *ngFor="let item of products">
          <div class="tadween-list" [routerLink]="['/user/edit-product/' + item.id]">
            <div class="tadween-list-img">
              <img [src]="publicUrl + item.photo" alt="" />
            </div>
            <div class="tadween-list-info">
              <h5>{{ item.name }}</h5>
              <p>{{ item.categoryText }}</p>
            </div>
            <div class="tadween-list-info">
              <p>{{ item.stock }}</p>
              <span>{{ item.store.name }}</span>
            </div>
            <div class="tadween-list-price">
              <p>{{ item.price }} RS</p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="d-flex justify-content-between mt-3">
        <div class="pagination-select">
          <p class="d-inline-block mr-3">Show </p>
          <div
          class="form-group d-inline-block mr-2" style="width: 60px;"
        >
          <pg-select
            style="width: 100%;"
            [(ngModel)]="selectedOption"
            [PlaceHolder]="'Select '"
          >
            <pg-option
              *ngFor="let option of options"
              [Label]="option.label"
              [Value]="option.value"
            >
            </pg-option>
          </pg-select>
        </div>
        <p class="d-inline-block mr-3">Entries </p>
        </div>
        <div>
          <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"></pagination>
        </div>
        
      </div> -->
    </div>
  </div>
  <!-- END card -->
</div>
<!-- END CONTAINER FLUID -->
<div
  bsModal
  #Image="bs-modal"
  class="modal fade slide-up disable-scroll"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <img [src]="modalImage" class="modal-img" />
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
