.products .product {
  box-shadow: 0px 0 20px -5px #aaa;
  border-radius: 15px;
  border: 1px solid #eeeeee;
  margin: 15px 0;
}
.products .product img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 100px;
}
.products .product p {
  text-align: end;
  padding: 7px;
}
.products .product span {
  text-align: start;
  color: #aaa;
  padding: 7px;
}
.upload {
  width: 100px;
  margin: auto;
}

table img {
  height: 90px;
  width: 90px;
  object-fit: contain;
  cursor: pointer;
}
.modal {
  img {
    object-fit: contain;
  }
}
