.upload-file .icon-upload {
  margin-top: 0;
  width: 50px;
}
.top-clients .top-client {
  margin-bottom: 10px;
}
.top-clients .top-client img {
  border-radius: 50%;
}
.top-clients .top-client p {
  display: inline-block;
  margin: 0 5px;
}
agm-map {
  height: 250px;
  margin-bottom: 1.3rem;
  display: block;
}
