<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title">Profile</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="upload mx-auto mb-lg-0 mb-4">
            <div
              [ngClass]="{ uploaded: uploadedFile }"
              class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative"
            >
              <div class="text-center" *ngIf="!uploadedFile">
                <input
                  id="upload"
                  type="file"
                  (change)="uploadFile($event)"
                  class="p-absolute"
                  accept=".png,.jpg,.jpeg"
                />
                <img
                  src="../../../assets/img/icons/cloud_upload.svg"
                  alt="icon"
                  class="icon-upload"
                />

                <h5>Drag & Drop Photo to upload</h5>
                <p>Or select an option below</p>
                <!-- <span>Maximum logo height 50px </span> -->
                <button class="btn">
                  <img src="../../../assets/img/icons/folder.svg" alt="icon" />
                  Browse files
                </button>
                -
              </div>
              <div class="show-photo" *ngIf="uploadedFile">
                <div class="icon" (click)="clearFile()">
                  <img
                    src="../../../assets/img/icons/modal-close.svg"
                    alt="x"
                  />
                </div>
                <!-- end icon-->
                <img [src]="uploadedFile" alt="photo" *ngIf="fileChanged" />

                <img
                  [src]="publicUrl + uploadedFile"
                  alt="photo"
                  *ngIf="!fileChanged"
                />
              </div>
            </div>
            <!-- end upload-file-->
          </div>
          <agm-map
            [latitude]="mapCenter.lat"
            [longitude]="mapCenter.lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            (mapClick)="mapClicked($event)"
          >
            <agm-marker
              *ngFor="let m of markers; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)"
            >
              <agm-info-window>
                <strong>InfoWindow content</strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-group-default required">
                <label> Name </label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="userData.name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default required">
                <label> Company Name </label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="userData.store_name"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group form-group-default required">
                <label> Owner Name </label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="userData.owner_name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default required add-mob-num">
                <label> Owner Mobile Number (for contacting) </label>
                <p-dropdown
                  [options]="countries"
                  optionLabel="name"
                  [filter]="true"
                  [(ngModel)]="selectedCountry"
                  [showClear]="true"
                  placeholder="Select a Country"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="selectedCountry"
                    >
                      <div>{{ selectedCountry.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <div>{{ country.value.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <input
                  type="text"
                  [(ngModel)]="userData.phone"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default required">
                <label> CRN </label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="userData.commercial_registered"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default required">
                <label> VAT Number </label>
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="userData.vat_number"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default required">
                <label> Store Branch Number </label>
                <input
                  type="text"
                  value="1"
                  class="form-control"
                  required
                  [(ngModel)]="userData.branch_id"
                />
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group form-group-default">
                <label> Top Clients </label>
                <div class="top-clients">
                  <div class="top-client">
                    <img
                      src="assets/img/profiles/avatar.jpg"
                      alt=""
                      pgRetina
                      src1x="assets/img/profiles/avatar.jpg"
                      src2x="assets/img/profiles/avatar_small2x.jpg"
                      width="32"
                      height="32"
                    />
                    <p>Mohammed Elsheikh</p>
                  </div>
                  <div class="top-client">
                    <img
                      src="assets/img/profiles/avatar.jpg"
                      alt=""
                      pgRetina
                      src1x="assets/img/profiles/avatar.jpg"
                      src2x="assets/img/profiles/avatar_small2x.jpg"
                      width="32"
                      height="32"
                    />
                    <p>Mohammed Elsheikh</p>
                  </div>
                  <div class="top-client">
                    <img
                      src="assets/img/profiles/avatar.jpg"
                      alt=""
                      pgRetina
                      src1x="assets/img/profiles/avatar.jpg"
                      src2x="assets/img/profiles/avatar_small2x.jpg"
                      width="32"
                      height="32"
                    />
                    <p>Mohammed Elsheikh</p>
                  </div>
                </div>
              </div>
            </div>
             -->

            <div class="col-lg-12">
              <button
                class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-plus"
                (click)="updateUser()"
              >
                <span>Save</span>
              </button>
              <button
                class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-edit"
              >
                <span>Edit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
