<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header">
      <div class="card-title">Representatives</div>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <div class="pull-left m-b-10">
          <div class="input-group transparent">
            <div class="input-group-prepend">
              <span class="input-group-text transparent"
                ><i class="fa fa-search"></i>
              </span>
            </div>
            <input
              type="text"
              placeholder="Search here by name.... "
              class="form-control"
            />
          </div>
        </div>
        <div class="pull-right mb-10">
          <button class="my-btn" [routerLink]="['/user/add-representative']">
            New Representative
          </button>
        </div>
      </div>

      <!-- <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>national ID</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of representatives">
              <td class="v-align-middle">
                <img
                  [src]="publicUrl + item.iqama_image"
                  width="78"
                  height="22"
                  (click)="showImage(publicUrl + item.iqama_image)"
                />
              </td>
              <td class="v-align-middle">
                <p>{{ item.name }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.national_id }}</p>
              </td>

              <td class="v-align-middle">
                <div class="d-flex flex-nowrap">
                  <button
                    class="btn btn-complete btn-animated from-top fa pull-right"
                    (click)="showrepresen(item.id)"
                  >
                    <i class="far fa-eye"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <div class="row">
        <div class="col-lg-4" *ngFor="let item of representatives">
          <div class="tadween-list" (click)="showrepresen(item.id)">
            <div class="d-flex">
            <div class="tadween-list-img">
              <img [src]="publicUrl + item.iqama_image" />
            </div>
            <div class="tadween-list-info">
              <h5>{{ item.name }}</h5>
              <p>ID: {{ item.national_id }}</p>
            </div>
          </div>
            <div class="tadween-list-price">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="d-flex justify-content-between mt-3">
        <div class="pagination-select">
          <p class="d-inline-block mr-3">Show </p>
          <div
          class="form-group d-inline-block mr-2" style="width: 60px;"
        >
          <pg-select
            style="width: 100%;"
            [(ngModel)]="selectedOption"
            [PlaceHolder]="'Select '"
          >
            <pg-option
              *ngFor="let option of options"
              [Label]="option.label"
              [Value]="option.value"
            >
            </pg-option>
          </pg-select>
        </div>
        <p class="d-inline-block mr-3">Entries </p>
        </div>
        <div>
          <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"></pagination>
        </div>
        
      </div> -->
    </div>
  </div>
  <!-- END card -->
</div>
<!-- END CONTAINER FLUID -->
<div
  bsModal
  #RepresentInfo="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-body">
          <div class="represent">
            <div class="main-img">
              <img alt="" [src]="publicUrl + details.photo" />
              <p class="name">{{ details.name }}</p>
            </div>
            <div class="btns">
              <button type="button" class="btn btn-warning">Hold</button>
              <button type="button" class="btn btn-primary">Dieigate</button>
              <button type="button" class="btn btn-danger">Delete</button>
              <p>Total cash to be received</p>
              <h5>
                {{ representativesInvoices.total_to_paid }}
              </h5>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="rep-card">
                  <h4>{{ representativesInvoices.total_earnings }}</h4>
                  <hr />
                  <div class="my-flex">
                    <p>
                      {{ representativesInvoices.total_earnings_by_cash }} by
                      cash
                    </p>
                    <p>
                      {{ representativesInvoices.total_earnings_by_check }} by
                      check
                    </p>
                  </div>
                </div>
                <div class="rep-card">
                  <h4>
                    {{
                      representativesInvoices.paid_invoices_count +
                        representativesInvoices.unpaid_invoices_count +
                        representativesInvoices.partially_paid_invoices_count
                    }}<span> Invoices</span>
                  </h4>
                  <hr />
                  <div class="my-flex">
                    <p>
                      {{ representativesInvoices.paid_invoices_count
                      }}<span>Paid</span>
                    </p>
                    <p>
                      {{ representativesInvoices.unpaid_invoices_count
                      }}<span>Not Paid</span>
                    </p>
                    <p>
                      {{ representativesInvoices.partially_paid_invoices_count
                      }}<span>Partially Paid</span>
                    </p>
                  </div>
                </div>
                <div class="rep-card">
                  <h4>{{ topClients.length }} <span> Clients</span></h4>
                  <hr />
                  <div class="my-flex flex-column">
                    <p>Top Clients</p>
                    <div *ngFor="let item of topClients">
                      <p>
                        <img alt="" [src]="publicUrl + item.photo" />
                        {{ item.store_name }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info">
                  <div class="s-info">
                    <span>Full Name</span>
                    <p>{{ details.name }}</p>
                  </div>
                  <div class="s-info">
                    <span>Representative Number</span>
                    <p>{{ details.commercial_registered }}</p>
                  </div>
                  <div class="s-info">
                    <span>Mobile Number</span>
                    <p>{{ details.phone }}</p>
                  </div>
                </div>
                <img class="w-100" [src]="publicUrl + details.iqama_image" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>

<div
  bsModal
  #Image="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <img [src]="modalImage" class="modal-img" />
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
