.represent .main-img {
  text-align: center;
}
.represent .main-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
}
.represent .main-img p {
  font-weight: 500;
  text-align: center;
  display: inline-block;
  margin: 5px;
}
.represent .btns {
  text-align: center;
  padding: 10px 0;
}
.represent .btns button {
  margin: 0 5px;
}
.represent .rep-card {
  box-shadow: 0px 0 9px -5px #aaa;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-radius: 10px;
}
.represent .rep-card h4 {
  margin: 0;
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
  color: #00928a;
  font-weight: 500;
}
.represent .rep-card h4 span {
  font-size: 18px;
  font-weight: 100;
}
.represent .rep-card p img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
.represent .rep-card p span {
  margin-left: 5px;
}
.represent .info .s-info {
  margin: 10px 0;
}
.represent .info .s-info span {
  color: #aaa;
}
.represent .info .s-info p {
  margin: 0;
  font-size: 18px;
}

tr img {
  cursor: pointer;
}
