.select-store button{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    border: 1px solid #eee;
}
.acc-content{margin: 5px 0;}
.acc-content span{color: #aaa;margin: 0;padding: 0;}
.acc-content p{margin: 0;padding: 0;}
.search-input{
    display: block;
    margin: 5px;
    width: 98%;
    padding: 7px;
    border: 1px solid #eee;
    border-radius: 7px;
}
.search-ico{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 17px;
}
.product{
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 7px;
    margin: 10px;

}
.product img{
    width: 100px;
    height: 100px;
    margin: auto;
    max-width: 100%;
}
.product .product-info span{display: block;color: #aaa;}
.item{
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 15px 0;
}
.tadween-list.active{border: 2px solid rgb(0, 146, 138);}
.item .img-container{
    position: relative;
    overflow: hidden;
}
.item .img-container img{
    width: 100%;
    height: 150px;
}
.item .info{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
}
.actions > div{
    display: inline-block;
    width: 100px;
    margin: 0 5px;
}
.openPopup{display: block;width: 100%;}
.unselect{
    background-color: transparent;
    color: rgb(0, 146, 138);
}
.form-check {
    margin-right: 15px;
}
.items button{
    width: 150px;
    margin: 10px auto;
    display: block;
}