<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg" *ngIf="step == 1">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title"></div>
    </div>
    <div class="card-body">
      <form #f="ngForm">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <button class="my-btn openPopup" (click)="ShowStoresModal()">
              Select Store
            </button>
            <div *ngIf="selectedStore.name">
              <div class="acc-content">
                <span>Full Name</span>
                <p>{{ selectedStore.name }}</p>
              </div>
              <div class="acc-content">
                <span>Phone</span>
                <p>{{ selectedStore.phone }}</p>
              </div>
              <div class="acc-content">
                <span>CRN</span>
                <p>{{ selectedStore.commercial_registered }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <button class="my-btn openPopup" (click)="ShowProducts()">
              Select Product
            </button>
            <table
              class="table table-hover"
              id="basicTable"
              *ngIf="addedProduect.length > 0"
            >
              <thead>
                <tr>
                  <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
                  Comman Practice Followed
                  -->
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Qnt</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of addedProduect; let i = index">
                  <td class="v-align-middle">
                    <img
                      [src]="publicUrl + item.photo"
                      alt="pro"
                      width="78"
                      height="22"
                    />
                  </td>
                  <td class="v-align-middle">
                    <p>{{ item.name }}</p>
                  </td>
                  <td class="v-align-middle">
                    <p>{{ item.price }} AED</p>
                  </td>
                  <td class="v-align-middle">
                    <p>{{ item.qty }}</p>
                  </td>
                  <td class="v-align-middle">
                    <button
                      class="btn btn-danger btn-animated"
                      (click)="deletFromArray(i)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <div class="form-group form-group-default required">
              <label> Payment Method </label>
              <div class="my-flex mt-3">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="optradio"
                      value="Pay now"
                      checked="true"
                      [(ngModel)]="invoice.method"
                    />Pay Now
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="optradio"
                      value="Pay later"
                      [(ngModel)]="invoice.method"
                    />Pay Later
                  </label>
                </div>
              </div>
            </div>
            <div
              class="form-group form-group-default required"
              *ngIf="invoice.method == 'Pay later'"
            >
              <label> Paying Time:</label>
              <input
                [owlDateTimeTrigger]="dt8"
                [owlDateTime]="dt8"
                [min]="min"
                class="no-border"
                #datePayment1="ngModel"
                required="required"
                name="datePayment1"
                [(ngModel)]="datePayment"
                placeholder="DD/MM/YYYY"
              />
              <owl-date-time #dt8 [pickerType]="'calendar'"></owl-date-time>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group form-group-default required">
              <label> Disscount </label>
              <div class="my-flex mt-3">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      [(ngModel)]="invoice.discount_type"
                      name="descountType"
                      value="value"
                      checked="true"
                    />
                    Value
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      [(ngModel)]="invoice.discount_type"
                      name="descountType"
                      value="percent"
                    />
                    Percentage
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group form-group-default required">
              <label> Value </label>
              <input
                type="number"
                class="no-border"
                #discount_value="ngModel"
                required="required"
                name="discount_value"
                [(ngModel)]="invoice.discount_value"
                placeholder="value"
              />
            </div>
          </div>
          <div class="col-lg-12">
            <button
              class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-edit"
              (click)="create()"
              [disabled]="f.invalid"
            >
              <span>Next</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END card -->
</div>

<!-- Start Second Card -->
<div class="container-fluid container-fixed-lg" *ngIf="step == 2">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title"></div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h3>Invoice Info</h3>
          <div class="form-group form-group-default required select-store">
            <div>
              <div class="acc-content">
                <span>Full Name</span>
                <p>{{ selectedStore.name }}</p>
              </div>
              <div class="acc-content">
                <span>Phone</span>
                <p>{{ selectedStore.phone }}</p>
              </div>
              <div class="acc-content">
                <span>CRN</span>
                <p>{{ selectedStore.commercial_registered }}</p>
              </div>
            </div>
          </div>

          <div class="form-group form-group-default required select-store">
            <h4>Products</h4>
            <div class="row">
              <div class="col-lg-6" *ngFor="let item of addedProduect">
                <div class="product">
                  <div class="row">
                    <div class="col-lg-4">
                      <img [src]="publicUrl + item.photo" />
                    </div>
                    <div class="col-lg-5">
                      <div class="product-info">
                        <p>{{ item.name }}</p>
                        <span>{{ item.price }} SAR</span>
                        <span>Quantity : {{ item.qty }}</span>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="product-price text-right">{{ item.price }} SAR</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group form-group-default required select-store">
            <h4>Contract Info</h4>
            <div class="acc-content">
              <span>Payment method</span>
              <p *ngIf="invoice.method == 'Pay later'">
                {{ invoice.method }} at {{ invoice.payment_date }}
              </p>
              <p *ngIf="invoice.method == 'Pay now'">{{ invoice.method }}</p>
            </div>
            <hr />
            <div class="acc-content">
              <span>Bill Details</span>
              <div class="my-flex">
                <p>Bill By {{ invoice.discount_type }}</p>
                <p>{{ invoice.discount_value }} SAR</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <button
            class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-edit"
            (click)="confirm()"
          >
            <span>Confirm</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
<!-- End Second Card -->

<div
  bsModal
  #ShowStores="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Select Store</h2>
        </div>
        <div class="modal-body">
          <div class="position-relative">
            <input type="text" name="search" class="search-input" />
            <i class="fas fa-search search-ico"></i>
          </div>
          <div
            class="tadween-list"
            *ngFor="let item of stores"
            (click)="getStoreId(item.id, item)"
          >
            <div class="row">
              <div class="col-lg-3">
                <div class="tadween-list-img">
                  <img alt="store" [src]="publicUrl + item.photo" />
                </div>
              </div>
              <div class="col-lg-9">
                <div class="tadween-list-info">
                  <div>
                    <span>Store name</span>
                    <p>{{ item.name }}</p>
                  </div>
                  <div>
                    <span>Branch number</span>
                    <p>{{ item.branch_id }}}</p>
                  </div>
                  <div>
                    <span>Mobile number</span>
                    <p>{{ item.phone }}</p>
                  </div>
                  <div>
                    <span>Location</span>
                    <p>{{ item.longitude }}, {{ item.latitude }}</p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-2">
                  <div class="tadween-list-price">
                    12 SAR
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>

<div
  bsModal
  #SelectProduct="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg modal-custom">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header">
          <h2>products</h2>
        </div>
        <div class="modal-body">
          <div class="items">
            <div class="tadween-list" *ngFor="let item of products">
              <div class="tadween-list-img">
                <img alt="store" [src]="publicUrl + item.photo" />
              </div>
              <div class="tadween-list-info">
                <div>
                  <span>Product name</span>
                  <p>{{ item.name }}</p>
                </div>
                <div>
                  <span>Price</span>
                  <p>{{ item.old_price }} SAR</p>
                </div>
              </div>
              <div class="actions">
                <div>
                  <label> QTY </label>
                  <input
                    type="number"
                    class="form-control"
                    required
                    [(ngModel)]="item.qty"
                  />
                </div>
                <div>
                  <label> Price </label>
                  <input
                    type="number"
                    class="form-control"
                    required
                    [(ngModel)]="item.price"
                  />
                </div>
              </div>
              <div class="form-check primary">
                <input
                  type="checkbox"
                  id="checkColorOpt1"
                  name="SelectProduct"
                  [(ngModel)]="item.checked"
                />
              </div>
            </div>

            <button class="my-btn" (click)="addProduct()">ADD</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>

<!-- 
oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="6" -->
