<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title">Subscription</div>
    </div>
    <div class="card-body" *ngIf="subscribtionPlan">
      <div class="row">
        <div
          class="col-lg-4 mb-4"
          *ngFor="let item of subscribtionPlan"
          (click)="selectPlan(item.id)"
        >
          <div class="subscrip" [ngClass]="{ active: item.id == selectedPlan }">
            <span>Plan</span>
            <h5>{{ item.title }}</h5>
            <p>{{ item.striped_details }}</p>
            <p>{{ item.price }} SRA</p>
          </div>
        </div>
        <div class="col-12" *ngIf="selectedPlan">
          <div class="d-flex justify-content-end">
            <button class="btn" (click)="subscribePlan()">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
