.subscrip {
  background-color: #00928a;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  padding-right: 50px;
  position: relative;
  cursor: pointer;
}
.subscrip h5 {
  line-height: 0;
  font-size: 21px;
  margin: 20px 0;
  color: #fff;
  font-weight: 600;
}
.subscrip span,
.subscrip p {
  color: #d4d4d4;
}
.subscrip.active::after {
  position: absolute;
  content: "\f00c";
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  top: 45%;
  right: 10px;
  background-color: #fff;
  color: #00928a;
  font-family: "FontAwesome";
}
