<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header">
      <div class="card-title">Gates List</div>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <div class="pull-left m-b-10">
          <div class="input-group transparent">
            <div class="input-group-prepend">
              <span class="input-group-text transparent"
                ><i class="fa fa-search"></i>
              </span>
            </div>
            <input
              type="text"
              placeholder="Search here by name.... "
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
                Comman Practice Followed
                -->
              <th>Name</th>
              <th>Region</th>
              <th>Governrate</th>
              <th>Business ID</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of 0; let i = index">
              <td class="v-align-middle">
                <p>
                  {{ item.NameEn }}
                </p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.Region }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.Governorate }}</p>
              </td>
              <td class="v-align-middle">
                <p>{{ item.WataniyaId }}</p>
              </td>
              <td class="v-align-middle">
                <div class="d-flex flex-nowrap">
                  <button
                    [routerLink]="['/manage/edit-gate', item.Id]"
                    class="btn btn-info btn-cons m-b-10"
                    type="button"
                    style="min-width: auto; width: 50px"
                  >
                    <i class="far fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-danger btn-cons m-b-10"
                    type="button"
                    style="min-width: auto; width: 50px"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <div class="d-flex justify-content-between mt-3">
        <div class="pagination-select">
          <p class="d-inline-block mr-3">Show </p>
          <div
          class="form-group d-inline-block mr-2" style="width: 60px;"
        >
          <pg-select
            style="width: 100%;"
            [(ngModel)]="selectedOption"
            [PlaceHolder]="'Select '"
          >
            <pg-option
              *ngFor="let option of options"
              [Label]="option.label"
              [Value]="option.value"
            >
            </pg-option>
          </pg-select>
        </div>
        <p class="d-inline-block mr-3">Entries </p>
        </div>
        <div>
          <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"></pagination>
        </div>
        
      </div> -->
    </div>
  </div>
  <!-- END card -->
</div>
<!-- END CONTAINER FLUID -->
