<div class="settings">
  <div class="section">
    <h4>Account</h4>
      <div class="setting">
        <div class="d-flex align-items-center">
          <i class="fas fa-lock"></i>
          <p class="m-0">Change Password</p>
        </div>
        <div>
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
  </div>
  <div class="section">
    <h4>App Setting</h4>
      <div class="setting-big">
        <div class="my-flex align-items-center">
          <div class="my-flex align-items-center">
            <i class="fas fa-bell"></i>
            <p class="m-0">Notification Schedule</p>
          </div>
          <div>
            <a href="#">Edit</a>
          </div>
        </div>
        <hr>
        <div class="my-flex align-items-center">
          <span>8:00 AM To 6:00 PM</span>
          <span>Saturday To wednesday</span>
        </div>
      </div>
      <div class="setting">
        <div class="d-flex align-items-center">
          <i class="fas fa-language"></i>
          <p class="m-0">App Language</p>
        </div>
        <div>
          <span>English</span>
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
  </div>
</div>
