<div class="register-container full-height sm-p-t-30">
  <div class="d-flex justify-content-center flex-column full-height">
    <img
      src="assets/img/logo.png"
      alt="logo"
      pgRetina
      src1x="assets/img/logo.png"
      src2x="assets/img/logo_2x.png"
      width="78"
      height="22"
      class="brand"
    />
    <h3>Please Verify Your Account</h3>

    <div class="p-t-15" role="form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-group-default">
            <label>Code</label>
            <input
              type="email"
              placeholder="Your Verify Account"
              class="form-control no-shadow"
              required
              [(ngModel)]="code"
            />
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary btn-cons m-t-10 text-center"
        (click)="verifyAccount()"
      >
        Send
      </button>
    </div>
  </div>
</div>
