.invoice .invoice-info > div{margin: 10px 0;}
.invoice .invoice-info h5{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.invoice h4{font-weight: 500;}
.invoice .invoice-info p{margin: 0;}
.invoice .bull-info{margin: 10px 0;}
.invoice .bull-info h6{margin: 0;}
.invoice .bull-info p{
    color: #00928a;
    font-weight: 500;
}
.invoice .status{color: yellowgreen !important;text-align: center;margin: 5px;}
.invoice .pending{color: red !important;text-align: center;margin: 5px;}
.invoice .btns button{text-transform: uppercase;}
.products .product{
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.products .product img{
    display: inline-block;
    height: 60px;
    width: 60px;
}
.products .product .product-info{
    display: inline-block;
}
.products .product .product-info p{margin-bottom: 10px;}
.products .product .product-info span{display: block;color: #aaaaaa;}
.products .product .product-pricce p{color: #00928a;} 