<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header">
      <div class="card-title">Invoices List</div>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <div class="pull-left m-b-10">
          <div class="d-flex">
            <i class="fas fa-filter open-filter" (click)="openFilter()"></i>
            <div class="input-group transparent">
              <div class="input-group-prepend">
                <span class="input-group-text transparent"
                  ><i class="fa fa-search"></i>
                </span>
              </div>
              <input
                type="text"
                placeholder="Search here by name.... "
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="pull-right mb-10">
          <button class="my-btn" [routerLink]="['/user/add-invoice']">
            New Invoice
          </button>
        </div>
      </div>

      <!-- <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>No:</th>
              <th>Price</th>
              <th>States</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-align-middle">
                <img
                  src="assets/img/logo.png"
                  alt="logo"
                  pgRetina
                  src1x="assets/img/logo.png"
                  src2x="assets/img/logo_2x.png"
                  width="78"
                  height="22"
                />
              </td>
              <td class="v-align-middle">
                <p>My Name</p>
              </td>
              <td class="v-align-middle">
                <p>1996</p>
              </td>
              <td class="v-align-middle">
                <p>5123101</p>
              </td>
              <td class="v-align-middle">
                <p>Unpaid</p>
              </td>
              <td class="v-align-middle">
                <div class="d-flex flex-nowrap">
                  <a class="btn btn-danger btn-animated from-top fa pull-right" [routerLink]="['/user/edit-invoice/3']" >
                <i class="far fa-edit"></i>
                </a>
                <button
                  class="btn btn-complete btn-animated from-top fa pull-right"
                  (click)="showInvoices()"
                  >
                <i class="far fa-eye"></i>
                </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <div class="row">
        <div class="col-lg-6" *ngFor="let item of inovices">
          <div class="tadween-list" (click)="showInvoices(item.id)">
            <div class="d-flex">
              <div class="tadween-list-img">
                <img alt="store" [src]="publicUrl + item.user.photo" />
              </div>
              <div class="tadween-list-info">
                <div>
                  <h5>{{ item.company_name }}</h5>
                  <p>No: {{ item.invoice_id }}</p>
                </div>
              </div>
            </div>
            <div class="tadween-list-info">
              <div class="text-right">
                <h5>{{ item.pricing.total_price }} SAR</h5>
                <span [ngClass]="{ status: item.payment_status == 'unpaid' }">{{
                  item.payment_status
                }}</span>
                <span
                  class="aggrement"
                  [ngClass]="item.status == 'pending' ? 'pending' : 'approved'"
                  >{{ item.status }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
<!-- END CONTAINER FLUID -->
<div
  bsModal
  #InvoiceInfo="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h2>InvoiceName</h2>
        </div> -->
        <div class="modal-body">
          <div class="invoice">
            <div class="row">
              <div class="col-lg-6">
                <div class="invoice-info">
                  <div>
                    <p>Created By :</p>
                    <h5>{{ inovice.company_name }}</h5>
                  </div>
                  <div>
                    <p>Date :</p>
                    <h5>{{ inovice.created_at }}</h5>
                  </div>
                  <div>
                    <p>Full Name :</p>
                    <h5>{{ inovice.user.name }}</h5>
                  </div>
                  <div>
                    <p>Phone :</p>
                    <h5>{{ inovice.user.phone }}</h5>
                  </div>
                  <div>
                    <p>CRN :</p>
                    <h5>
                      {{ inovice.user.commercial_registered }}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="invoice-info">
                  <div>
                    <p>Payment Method :</p>
                  </div>
                  <h5>{{ inovice.payment_method }}</h5>
                  <hr />
                  <div>
                    <h4>Bill Details</h4>
                    <div class="my-flex bull-info">
                      <h6>Bill Value</h6>
                      <p>{{ inovice.pricing.original_price }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Tax Value</h6>
                      <p>{{ inovice.pricing.tax }}</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Bill Total</h6>
                      <p>{{ inovice.pricing.total_price }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Bill Total</h6>
                      <p>{{ inovice.pricing.total_price }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Paid</h6>
                      <p>{{ inovice.pricing.receipt_vouchers_amount }} SAR</p>
                    </div>
                    <div class="my-flex bull-info">
                      <h6>Remaining</h6>
                      <p>
                        {{ inovice.pricing.receipt_vouchers_amount_will_paid }}
                        SAR
                      </p>
                    </div>
                  </div>
                  <h5 class="status">{{ inovice.payment_status }}</h5>
                  <h5 class="pending">{{ inovice.approval }}</h5>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="products">
                  <h4>Products</h4>
                  <div class="row">
                    <div class="col-lg-6" *ngFor="let item of inovice.products">
                      <div class="product">
                        <div>
                          <img [src]="publicUrl + item.photo" alt="logo" />
                        </div>
                        <div class="product-info">
                          <p>{{ item.name }}</p>
                          <span> {{ item.price }}SAR</span>
                          <span>Quantity : {{ item.qty }}</span>
                        </div>
                        <div class="product-pricce">
                          <p>{{ item.total }} SAR</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="my-flex btns">
                  <button class="btn btn-complete btn-cons btn-animated">
                    Preview pdf
                  </button>

                  <!-- <button class="btn btn-success btn-cons btn-animated">
                    share
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>

<div
  bsModal
  #filterModal="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-body filter-modal">
          <div>
            <div>
              <!-- <span class="d-block">Amount</span>
              <div class="half">
                <label>From</label>
                <input type="number" />
              </div>
              <div class="half">
                <label>To</label>
                <input type="number" />
              </div> -->
              <div>
                <div>
                  <input [(ngModel)]="filterData.invoice_number" />
                </div>
                <label>Store</label>
                <p-dropdown
                  [options]="countries"
                  optionLabel="name"
                  [filter]="true"
                  [(ngModel)]="filterData.client_id"
                  [showClear]="true"
                  placeholder="Select Store"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="filterData.client_id"
                    >
                      <div>{{ filterData.client_id }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <div>{{ country.value.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div>
                <label>SalesMan</label>
                <select [(ngModel)]="filterData.salesman_id">
                  <option>Omda</option>
                  <option>Mohammed</option>
                  <option>Abdo</option>
                </select>
              </div>
              <div>
                <label>Payment Method</label>
                <select [(ngModel)]="filterData.payment_status">
                  <option>All</option>
                  <option>Paid</option>
                  <option>Unpaid</option>
                  <option>Partially paid</option>
                </select>
              </div>
              <div>
                <label>Date</label>
                <input type="date" [(ngModel)]="filterData.date" />
              </div>
              <button class="my-btn" (click)="filterInvoice()">Apply</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
