<div class="home">
  <!-- <div class="bg-pic">
    <div
      class="img-holder"
      [ngStyle]="{ background: 'url(../assets/logo.png)' }"
    ></div>
  </div> -->
  <div class="total">
    <p>Total Cash to be Received</p>
    <h2>{{ homeData.total_invoices_sales }} SAR</h2>
  </div>
  <div class="">
    <div class="content-header">
      <div>
        <span>Overview</span>
        <p>Current balance</p>
      </div>
      <div>
        <button class="my-btn">Month</button>
        <button class="my-btn active">Week</button>
      </div>
    </div>
    <div class="balance">
      <div>
        <div class="balance-color"></div>
        <p>Overdue invoices</p>
        <span>{{ homeData.overdue_payamounts }} SAR</span>
      </div>
      <div>
        <div class="balance-color"></div>
        <p>Overdue this month</p>
        <span>{{ homeData.due_current_month_payamount }} SAR</span>
      </div>
      <div>
        <div class="balance-color"></div>
        <p>Overdue next month</p>
        <span>{{ homeData.due_next_week_payamount }}</span>
      </div>
    </div>
  </div>
</div>
