// .bg-pic > .img-holder {
//   height: 100%;
//   width: 100%;
//   background-size: calc(100% - 500px) !important;
//   background-repeat: repeat !important;
//   background-color: #fff !important;
//   opacity: 1;
//   background-position: left center !important;
// }
// img {
//   object-fit: contain;
//   transform: scale(2);
// }
.home {}
.home .total{
  box-shadow: 0px 0 20px -5px #aaa;
  text-align: center;
  padding: 20px;
}
.home .total h2{font-weight: 600;}
.home .content-header {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.content-header > div {
  margin: 0 15px;
}
.content-header > div p{
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.content-header > div button.active{
  background-color: #fff;
  color: rgb(0, 146, 138);
  border-color: rgb(0, 146, 138);
}
.content-header > div button{margin: 0 10px;}
.balance > div{margin: 0 10px;text-align: center;}
.balance .balance-color{
  width: 10px;
    height: 10px;
    background-color: #00928a;
    display: inline-block;
    margin: 0 10px;
}
.balance p{display: inline-block;}
.balance span{display: inline-block;margin: 0 25px;}