<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title">Add Representative</div>
    </div>
    <div class="card-body">
      <form #f="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div
              class="form-group form-group-default required"
              [ngClass]="{
                'has-error': name.touched && !name.valid
              }"
            >
              <label> Representative full Name </label>
              <input
                type="text"
                placeholder="Representative...."
                class="form-control"
                #name="ngModel"
                required="required"
                name="name"
                minlength="3"
                [(ngModel)]="representative.name"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="form-group form-group-default required"
              [ngClass]="{
                'has-error': national_id.touched && !national_id.valid
              }"
            >
              <label> National / Iqama ID </label>
              <input
                type="number"
                placeholder="....."
                class="form-control"
                #national_id="ngModel"
                required="required"
                name="national_id"
                minlength="12"
                [(ngModel)]="representative.national_id"
              />
            </div>
          </div>
          <div class="col-md-12">
            <div
              class="form-group form-group-default add-mob-num required"
              [ngClass]="{
                'has-error': phone.touched && !phone.valid
              }"
            >
              <label> Owner Mobile Number (for contacting) </label>
              <p-dropdown
                [options]="countries"
                optionLabel="name"
                [filter]="true"
                name="code"
                [(ngModel)]="selectedCountry"
                [showClear]="true"
                placeholder="Select a Country"
              >
                <ng-template pTemplate="selectedItem">
                  <div
                    class="country-item country-item-value"
                    *ngIf="selectedCountry"
                  >
                    <p>{{ selectedCountry.name }}</p>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <img [src]="country.value.flag" />
                    <p>{{ country.value.code }}</p>
                  </div>
                </ng-template>
              </p-dropdown>
              <input
                type="number"
                placeholder="Add number"
                class="form-control"
                #phone="ngModel"
                required="required"
                name="phone"
                [(ngModel)]="phoneNumber"
              />
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group form-group-default">
              <label>Iqama ID picture</label>
              <div class="upload mx-auto mb-lg-0 mb-4">
                <div
                  [ngClass]="{ uploaded: uploadedFile }"
                  class="upload-file d-flex flex-column justify-content-center mx-auto align-items-center position-relative"
                >
                  <div class="text-center" *ngIf="!uploadedFile">
                    <input
                      id="upload"
                      type="file"
                      name="photo"
                      (change)="uploadFile($event)"
                      class="p-absolute"
                      accept=".png,.jpg,.jpeg"
                    />
                    <img
                      src="../../../assets/img/icons/cloud_upload.svg"
                      alt="icon"
                      class="icon-upload"
                    />

                    <h5>Drag & Drop Photo to upload</h5>
                    <p>Or select an option below</p>
                    <!-- <span>Maximum logo height 50px </span> -->
                    <button class="btn">
                      <img
                        src="../../../assets/img/icons/folder.svg"
                        alt="icon"
                      />
                      Browse files
                    </button>
                    -
                  </div>
                  <div class="show-photo" *ngIf="uploadedFile">
                    <div class="icon" (click)="clearFile()">
                      <img
                        src="../../../assets/img/icons/modal-close.svg"
                        alt="x"
                      />
                    </div>
                    <!-- end icon-->
                    <img [src]="uploadedFile" alt="photo" />
                  </div>
                </div>
                <!-- end upload-file-->
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <button
              class="btn btn-complete btn-cons btn-animated from-top fa pull-right fa-plus"
              (click)="addRepresentative()"
              [disabled]="f.invalid"
            >
              <span>Create</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END card -->
</div>
