<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START card -->
  <div class="card card-default">
    <div class="card-header">
      <div class="card-title">Settings</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h5 class="settings-head">Discount</h5>
          <div class="form-group form-group-default required">
            <label> The highest percentage can be provided </label>
            <input
              type="text"
              value="20"
              class="form-control"
              required
              [(ngModel)]="representativesData.max_discount"
            />
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="settings-head">Invoices Types</h5>
          <div class="form-group form-group-default required">
            <label> Payment Method </label>
            <div class="my-flex mt-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="opt1"
                    [checked]="representativesData.pay_now"
                    [(ngModel)]="representativesData.pay_now"
                    value="0"
                  />Pay Now
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="opt2"
                    [checked]="representativesData.pay_later"
                    [(ngModel)]="representativesData.pay_later"
                    value="1"
                  />Pay Later
                </label>
              </div>
            </div>
          </div>

          <div
            class="form-group form-group-default required"
            *ngIf="representativesData.pay_later"
          >
            <label> Paying Time:</label>
            <input
              [owlDateTimeTrigger]="dt1"
              [(ngModel)]="representativesData.max_pay_later_date"
              [owlDateTime]="dt1"
              class="no-border"
            />
            <owl-date-time #dt1></owl-date-time>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-default">
            <h5 class="settings-head">Credit Limit</h5>
            <div class="form-group form-group-default required">
              <label>The hightest invoices credit limit</label>
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="representativesData.invoices_credit_limit"
              />
            </div>
            <div class="form-group form-group-default required">
              <label>The hightest pay later invoices credit limit</label>
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="
                  representativesData.invoices_pay_later_credit_limit
                "
              />
            </div>
            <div class="form-group form-group-default required">
              <label>The hightest receipt vouchers credit limit</label>
              <input
                type="text"
                class="form-control"
                required
                [(ngModel)]="representativesData.receipt_vouchers_credit_limit"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-default">
            <h5 class="settings-head">More limits</h5>
            <div class="form-group form-group-default required">
              <label>Hightest numbers of invoices</label>
              <input
                type="text"
                value="16"
                class="form-control"
                required
                [(ngModel)]="representativesData.max_number_of_invoices"
              />
            </div>
            <div class="form-group form-group-default required">
              <label>Hightest number of return invoices</label>
              <input
                type="text"
                value="2"
                class="form-control"
                required
                [(ngModel)]="representativesData.max_number_of_return_invoices"
              />
            </div>
            <div class="form-group form-group-default required">
              <label>Hightest number of receipt vouchers</label>
              <input
                type="text"
                value="2"
                class="form-control"
                required
                [(ngModel)]="representativesData.max_number_of_receipt_vouchers"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <button class="my-btn" (click)="update()">
            <span>Update</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
