<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header">
      <div class="card-title">Clients List</div>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <!-- <div class="pull-left m-b-10">
          <div class="input-group transparent">
            <div class="input-group-prepend">
              <span class="input-group-text transparent"
                ><i class="fa fa-search"></i>
              </span>
            </div>
            <input
              type="text"
              placeholder="Search here by name.... "
              class="form-control"
            />
          </div>
        </div> -->
        <div class="pull-right m-b-10">
          <i class="fas fa-map open-map" (click)="showMap()"></i>
          <button class="my-btn" [routerLink]="['/user/add-client']">
            New Client
          </button>
        </div>
      </div>

      <!-- <div class="table-responsive">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Store Owner Name</th>
              <th>Store Name</th>
              <th>Mobile Number</th>
              <th>CRN</th>
              <th>VAT Number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-align-middle">
                <img
                  src="assets/img/logo.png"
                  alt="logo"
                  pgRetina
                  src1x="assets/img/logo.png"
                  src2x="assets/img/logo_2x.png"
                  width="78"
                  height="22"
                />
              </td>
              <td class="v-align-middle">
                <p>My Name</p>
              </td>
              <td class="v-align-middle">
                <p>Owner Mohammed</p>
              </td>
              <td class="v-align-middle">
                <p>Store Zad</p>
              </td>
              <td class="v-align-middle">
                <p>01215464+</p>
              </td>
              <td class="v-align-middle">
                <p>12121212+</p>
              </td>
              <td class="v-align-middle">
                <p>64864563123+</p>
              </td>
              <td class="v-align-middle">
                <div class="d-flex flex-nowrap">
                <button
                  class="btn btn-complete btn-animated from-top fa pull-right"
                  (click)="showClient()"
                >
                <i class="far fa-eye"></i>
                </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <div class="row">
        <div class="col-lg-4" *ngFor="let item of clients">
          <div class="tadween-list" (click)="getInovicesRes(item.id)">
            <div class="d-flex">
              <div class="tadween-list-img">
                <img alt="store" [src]="publicUrl + item.photo" />
              </div>
              <div class="tadween-list-info">
                <div>
                  <h5>{{ item.name }}</h5>
                  <p>Branch: {{ item.branch_id }}</p>
                </div>
              </div>
            </div>
            <div>
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-between mt-3">
        <div class="pagination-select">
          <p class="d-inline-block mr-3">Show </p>
          <div
          class="form-group d-inline-block mr-2" style="width: 60px;"
        >
          <pg-select
            style="width: 100%;"
            [(ngModel)]="selectedOption"
            [PlaceHolder]="'Select '"
          >
            <pg-option
              *ngFor="let option of options"
              [Label]="option.label"
              [Value]="option.value"
            >
            </pg-option>
          </pg-select>
        </div>
        <p class="d-inline-block mr-3">Entries </p>
        </div>
        <div>
          <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"></pagination>
        </div>
        
      </div> -->
    </div>
  </div>
  <!-- END card -->
</div>
<!-- END CONTAINER FLUID -->

<div
  bsModal
  #ClientInfo="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content" *ngFor="let itemSelect of selectedClient">
        <div class="modal-header">
          <h2>{{ itemSelect.name }}</h2>
        </div>
        <div class="modal-body">
          <div class="client">
            <div class="row">
              <div class="col-lg-6">
                <div class="general-info">
                  <h4>General Info</h4>
                  <div class="info">
                    <h6>Store Responsible name</h6>
                    <p>{{ itemSelect.store_name }}</p>
                  </div>
                  <div class="info">
                    <h6>Mobile Number</h6>
                    <p>{{ itemSelect.phone }}</p>
                  </div>
                  <div class="info">
                    <h6>Landline Number</h6>
                    <p>----</p>
                  </div>
                  <div class="info">
                    <h6>Store Owner Name</h6>
                    <p>{{ itemSelect.owner_name }}</p>
                  </div>
                  <div class="info">
                    <h6>Store Name</h6>
                    <p>{{ itemSelect.store_name }}</p>
                  </div>
                  <div class="info">
                    <h6>CRN</h6>
                    <p>{{ itemSelect.commercial_registered }}</p>
                  </div>
                  <div class="info">
                    <h6>VAT Number</h6>
                    <p>{{ itemSelect.vat }}</p>
                  </div>
                  <button
                    class="btn btn-complete btn-animated"
                    (click)="showClientMap()"
                  >
                    Location
                  </button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="invoice-report">
                  <h4>Invoices Report</h4>
                  <div class="info">
                    <h6>All invoices</h6>
                    <p>{{ inovicesRes.value_of_all_invoices }}</p>
                  </div>
                  <div class="info">
                    <h6>Value of All invoices</h6>
                    <p>{{ inovicesRes.value_of_all_invoices }}</p>
                  </div>
                  <div class="info">
                    <h6>All paied invoices</h6>
                    <p>{{ inovicesRes.value_of_paid_invoices }}</p>
                  </div>
                  <div class="info">
                    <h6>Value of payment</h6>
                    <p>56465454</p>
                  </div>
                  <div class="info">
                    <h6>Overdue invoices</h6>
                    <p>{{ inovicesRes.overdue_invoices }}</p>
                  </div>
                  <div class="info">
                    <h6>Value Of Invoices</h6>
                    <p>92 Sar</p>
                  </div>
                  <div class="info">
                    <h6>Payment Date</h6>
                    <p>22/10/2020</p>
                  </div>
                  <button
                    class="btn btn-complete btn-animated"
                    (click)="showClientInvoices()"
                  >
                    Client Invoices
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>

<div
  bsModal
  #mapInfo="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-body">
          <agm-map
            [latitude]="mapCenter.lat"
            [longitude]="mapCenter.lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
          >
            <agm-marker
              *ngFor="let m of markers; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
            >
              <agm-info-window>
                <strong>InfoWindow content</strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
<!--  -->
<div
  bsModal
  #clientMapInfo="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-body">
          <agm-map
            [latitude]="mapCenter2.lat"
            [longitude]="mapCenter2.lng"
            [zoom]="zoom2"
            [disableDefaultUI]="false"
          >
            <agm-marker
              *ngFor="let m of markers2; let i = index"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
            >
              <agm-info-window>
                <strong>InfoWindow content</strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
<!-- Client Invoices Modal -->
<div
  bsModal
  #clientInvoices="bs-modal"
  class="modal fade slide-up"
  tabindex="-1"
  role="dialog"
  aria-hidden="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Invoices</h2>
        </div>
        <div class="modal-body">
          <div class="invoices">
            <div class="tadween-list">
              <div class="d-flex">
                <div class="tadween-list-img">
                  <img alt="invoice" src="../../../assets/img/gallery/7.jpg" />
                </div>
                <div class="tadween-list-info">
                  <div>
                    <h5>Company name</h5>
                    <p>No: 52</p>
                  </div>
                </div>
              </div>
              <div class="tadween-list-info">
                <div class="text-right">
                  <h5>550 SAR</h5>
                  <span class="unpaid">Unpaid</span>
                  <span class="aggrement approved">Approved</span>
                </div>
              </div>
            </div>
            <div class="tadween-list">
              <div class="d-flex">
                <div class="tadween-list-img">
                  <img alt="invoice" src="../../../assets/img/gallery/7.jpg" />
                </div>
                <div class="tadween-list-info">
                  <div>
                    <h5>Company name</h5>
                    <p>No: 52</p>
                  </div>
                </div>
              </div>
              <div class="tadween-list-info">
                <div class="text-right">
                  <h5>550 SAR</h5>
                  <span class="unpaid">Unpaid</span>
                  <span class="aggrement approved">Approved</span>
                </div>
              </div>
            </div>
            <div class="tadween-list">
              <div class="d-flex">
                <div class="tadween-list-img">
                  <img alt="invoice" src="../../../assets/img/gallery/7.jpg" />
                </div>
                <div class="tadween-list-info">
                  <div>
                    <h5>Company name</h5>
                    <p>No: 52</p>
                  </div>
                </div>
              </div>
              <div class="tadween-list-info">
                <div class="text-right">
                  <h5>550 SAR</h5>
                  <span class="unpaid">Unpaid</span>
                  <span class="aggrement approved">Approved</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>
