body {
  direction: rtl;
}
.header{padding: 0 0px 0 20px !important;}
body.menu-pin .page-container .page-content-wrapper .content{
  padding-right: 250px;
  padding-left: 0px !important;
}
.page-sidebar{
  right: 210px !important;
  left: auto !important;
  transform: translate(-210, 0) !important;
}
.icon-thumbnail{
  float: left !important;
  margin-left: 8px;
  margin-right: 0px;
  transform: translate3d(0px, 0, 0) !important;
}
.page-sidebar .sidebar-menu .menu-items > li > a{
  padding-left: 32px;
  padding-right: 0px;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .title{float: left !important;}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow{
  float: left !important;
  padding-left: 20px;
  padding-right: 0px;
  left: 45px;
  position: absolute;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow:before{
  content: "\f105" !important;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow:before{float: left !important;}
body.menu-pin .page-container .page-content-wrapper .footer{right: 250px !important;left: 0 !important;}
/* Start Content */
.notification .dropdown-toggle p{
  left: -10px;
  right: unset;
}
.header .dropdown-menu{
  right: auto !important;
  left: 0px !important;
}
.dropdown-menu > .dropdown-item{padding-right: 0px !important;padding-left: 20px !important;}
.form-group-default.required:after{left: 15px;right: unset !important;}
.country-item img{right: 0px;left: unset !important;}
.country-item p{left: 5px;right: unset !important;}
.tadween-list .tadween-list-price i{margin-right: 15px;margin-left: 0px;}
.subscrip{padding-left: 50px !important;padding-right: 15px !important;}
.subscrip::after{left: 10px;right: unset !important;}