/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
body {
  /* overflow: hidden; */
  font-family: 'Almarai', sans-serif !important;
}

.page-content-wrapper > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1041;
}

.modal-open .content {
  position: unset;
}

.container-wrapper {
  overflow-y: scroll;
  height: 100%;
}

.m-0 {
  margin: 0 !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.pg-menu::before {
  content: none !important;
}

.breadcrumb .breadcrumb-item {
  font-size: 12px !important;
  font-weight: 700 !important;
  letter-spacing: 0.06em !important;
  padding-left: 0.5rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  transition: all 0.2s ease;
  cursor: pointer;
}

.breadcrumb > .breadcrumb-item:before {
  padding-right: 10px !important;
}

.breadcrumb-item:focus {
  outline: none;
}

.breadcrumb-item:hover,
.breadcrumb > .breadcrumb-item.active {
  color: #0090d9;
}

.overlay {
  background: rgba(255, 255, 255, 1) !important;
  padding-left: 60px !important;
}

.btn-primary,
.btn-primary:focus {
  background-color: #0090d9 !important;
  border-color: #0090d9 !important;
}

.btn-primary.hover,
.btn-primary:hover,
.btn-primary .show .dropdown-toggle.btn-primary {
  background-color: #0075af !important;
  border-color: #0075af !important;
}

.padding_0 .container-fluid {
  padding: 0 !important;
}

.toggle-switch-checked,
.toggle-switch-checked.primary {
  background-color: #0090d9 !important;
}

.multiselect-wrapper {
  display: block;
  height: 60px;
}

body .ui-multiselect {
  height: 60px;
}

.form-group-default-select2 {
  position: relative;
}

.form-group-default-select2 label {
  position: absolute;
  z-index: 10;
  padding: 7px 12px 0 18px;
}

.form-group-default-select2::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 4px;
  height: 60px;
  z-index: 1;
}

.form-group-default-select2.orange-bgColor::before {
  background-color: #ff8a00;
}

.form-group-default-select2.vodafone-bgColor::before {
  background-color: #e60000;
}

.form-group-default-select2.etisalat-bgColor::before {
  background-color: #82a03a;
}

.form-group-default-select2 .pg-select-selection {
  margin-top: 25px !important;
  margin-bottom: 7px !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

tree-node-checkbox {
  top: 2px;
  position: relative;
}

.tree-node .node-content-wrapper:before {
  top: 6px !important;
}

.tree-node.tree-node-leaf .node-content-wrapper:before {
  top: 4px !important;
}

body .ui-multiselect {
  background: #ffffff;
  border: 1px solid #a6a6a6;
  transition: border-color 0.2s;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 27px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  width: 100%;
  transition: background-color 0.2s ease;
}

body .ui-multiselect .ui-multiselect-label {
  color: #3b4752;
  font-size: 12px;
  min-width: 200px;
  margin: 0;
}

.tab-wrapper {
  min-height: 60vh;
}

body
  .ui-multiselect-panel
  .ui-multiselect-items
  .ui-multiselect-item.ui-state-highlight {
  background-color: #0090d9;
}

body .ui-multiselect .ui-multiselect-trigger {
  width: 3em;
}

.level1-document-icon-only
  .tree-node-level-2:not(.tree-node-leaf)
  > tree-node-wrapper
  > .node-wrapper
  > .node-content-wrapper:before {
  background-position: 0px -17px;
}

.form-group-default .form-control {
  min-height: 40px !important;
}

.no-padding {
  padding: 0 !important;
}

.datatable-row-group {
  cursor: pointer;
}

.datatable-row-center {
  padding-left: 15px;
  padding-right: 23px;
}

.datatable-body-cell {
  transition: all 0.4s ease;
}

.datatable-row-group:hover .datatable-body-cell {
  background: #daeffd !important;
}

.bg-white {
  background-color: #fbfbfb !important;
}

.ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell {
  padding: 10px !important;
}

.padding-10-25 {
  padding: 10px 25px !important;
}

.module-card .card.card-default {
  background-color: #f2f2f2 !important;
  transition: all 0.4s ease;
}

.module-card:hover .card.card-default {
  background-color: #ffffff !important;
}

body .ui-multiselect:not(.ui-state-disabled):hover {
  border-color: rgba(0, 0, 0, 0.07);
}

.tab-wrapper.tab-horizontal.linetriangle .tab-content-wrapper {
  z-index: 10;
}

.summary .card-maximized .table-responsive {
  height: 80vh !important;
}

.mb-0 {
  margin-bottom: 0;
}

.page-container {
  padding-left: 0px !important;
}

.page-container .page-content-wrapper .content {
  padding-bottom: 80px !important;
}

.card,
.pg-select,
.form-control,
.date {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08) !important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08) !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08) !important;
}

.no-shadow {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.card .card-header {
  background: #272b3510 !important;
  padding: 20px 20px 15px 20px !important;
  margin-bottom: 15px;
}

.default .card-header {
  background: transparent !important;
  padding: 20px 20px 7px 20px !important;
  margin-bottom: 0px !important;
  min-height: 0 !important;
  max-height: 0 !important;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

@media (max-width: 1024px) {
  body {
    overflow: auto;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1041;
  }

  .container-wrapper {
    overflow-y: auto;
  }
}
.page-container .page-content-wrapper .content {
  padding-left: 42px;
}
input.form-control {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

/*  New Style Elsheikh   */
/* input.form-control{
  box-shadow: none !important;
  /* border: 1px solid #eee !important;
  margin-top: 5px !important;
  border-radius: 5px !important;
  padding: 0 10px !important;
} */
.dropdown-menu > .dropdown-item{text-align: start !important;}
.add-list {
  position: relative;
}
.add-list .dropdown-toggle {
  background-color: transparent;
  margin: 0 10px;
  color: #00928a;
  padding: 0.5em 1em;
  border: 1px solid #00928a;
  border-radius: 5px;
  cursor: pointer;
}
.add-list .dropdown-toggle::after {
  display: none;
}
.add-list .dropdown-menu {
  background-color: #00928a;
  left: -155px;
  right: 0;
  width: 300px;
}
.add-list .dropdown-item {
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}
.add-list .dropdown-item:hover{
  background-color: #fff !important;
  color: #00928a !important;
}
.add-list .dropdown-item i {
  width: 25px;
  height: 25px;
  line-height: 24px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}
.add-list .dropdown-item:hover i{border-color: #00928a !important;}
.add-mob-num input {
  display: inline-block;
  width: calc(100% - 150px);
  border-bottom: 1px solid #eee!important;
  padding: 0 10px !important;
  border-radius: 5px;
  height: 35px;
}
.add-mob-num .ui-dropdown {
  border-bottom: 1px solid #eee !important;
  display: inline-block !important;
  min-width: unset;
  width: 100%;
  height: 35px;
}
.full-width .ui-dropdown {
  display: inline-block;
  width: 100%;
  /* border: 1px solid #eee; */
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: unset;
}

.full-width .ui-dropdown .ui-dropdown-label {
  border: none !important;
  padding: 2px;
}
.ui-inputtext {
  display: inline-block;
  width: 83%;
  /* border: 1px solid #eee !important; */
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: unset;
}
.notification .dropdown-toggle {
  position: relative;
  background-color: transparent;
  border: none;
}
.notification .dropdown-toggle i {
  font-size: 23px;
  color: #00928a;
}
.notification .dropdown-toggle::after {
  display: none;
}
.notification .dropdown-toggle p {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  position: absolute;
  right: -10px;
  top: -5px;
}
.notification .dropdown-item {
  line-height: unset !important;
}
.notification .dropdown-item .item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.notification .dropdown-menu {
  margin-top: 0px !important;
  height: 300px;
  overflow-y: scroll;
}
.notification .dropdown-item .item-details > div:first-of-type {
  margin-right: 10px;
  width: 20px;
}
.notification .dropdown-item .item-details h6,
.notification .dropdown-item .item-details p {
  margin: 0;
  padding: 0;
}
.notification .dropdown-item .item-details p {
  color: #aaa;
}
.notification .dropdown-item .item-details span {
  font-size: 10px;
}

.upload-file {
  background-color: #f4f4f4;
  border: 1.5px dashed #8b8989;
  width: 100%;
  margin-bottom: 30px;
  max-height: 200px;
  height: 250px;
  cursor: pointer;
  overflow: hidden;
}

.upload-file:hover {
  border-style: solid;
}

.upload-file.uploaded {
  border-color: transparent;
}

.upload-file .show-photo {
  overflow: hidden;
}

.upload-file .show-photo .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 14px;
  background: #ff6464;
  border-radius: 50%;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.upload-file .show-photo .icon .delete {
  fill: #fff;
}

.upload-file .show-photo img {
  width: 100%;
  height: 100%;
  max-height: 270px;
  object-fit: cover;
}

.upload-file .icon-upload {
  margin-top: 1.2rem;
}

.upload-file label {
  cursor: pointer;
}

.upload-file input {
  opacity: 0;
  cursor: pointer;
  z-index: 9;
}

.upload-file h5 {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 8px 0 2px;
}

.upload-file p {
  font-size: 0.6rem;
  color: #8b8989;
  margin-bottom: 8px;
}

.upload-file span {
  font-size: 1rem;
  color: #b2b2b2;
  margin: 12px;
  display: block;
}

.upload-file .btn {
  background-color: #e43f5a;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

.upload-file .btn img {
  vertical-align: sub;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.add-mob-num p-dropdown{
  display: inline-block;
  width: 150px;
}
.ui-dropdown {
  display: block !important;
  background: transparent !important;
  color: #fff !important;
  border: none !important;
}
.add-mob-num .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label{padding-bottom: 0px;}
form .row [class*="col-"]:first-child {
  padding-left: 7px !important;
}
form .row [class*="col-"]:last-child {
  padding-right: 7px !important;
}
.my-flex {
  display: flex;
  justify-content: space-between;
}

.brand img,
img.brand {
  object-fit: contain;
  transform: scale(1.9);
}
tr img {
  object-fit: contain;
}
.my-btn{
  color: white;
  background-color: rgb(0, 146, 138);
  padding: 7px 15px;
  border-radius: 7px;
  border: 1px solid rgb(0, 146, 138);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.my-btn:hover{
  background-color: #fff;
  color: rgb(0, 146, 138);
}
.no-border{border: none !important;width: 100%;}

.showPassword {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.tadween-list{
  box-shadow: 0px 0 13px -5px #aaa;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.tadween-list:hover{box-shadow: none;}
.tadween-list .tadween-list-img img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.tadween-list .tadween-list-price{
  color: rgb(0, 146, 138);
}
.tadween-list .tadween-list-price p{
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.tadween-list .tadween-list-price i{display: inline-block;color: #000;margin-left: 15px;}
.tadween-list .tadween-list-info{margin: 0 10px;}
.tadween-list .tadween-list-info > div{
  display: inline-block;
  margin: 0 10px;
}
.tadween-list .tadween-list-info h5{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
}
.tadween-list .tadween-list-info > div span{font-size: 13px;}
.tadween-list .tadween-list-info > div p{color: #aaa;font-size: unset;}
.tadween-list.active{border: 2px solid rgb(0, 146, 138);}
.tadween-list .tadween-list-info .status{display: block;}
.tadween-list .tadween-list-info .aggrement{display: block;}
/*  Status Color  */
.approved{color: green !important;}
.pending{color: red !important;}
.parillay-paid{color: #0075af !important;}
.paid{color: blue !important;}
.unpaid{color: #e6e628 !important;}
/*  End Status Color  */
.unselect{
  background-color: transparent;
  color: rgb(0, 146, 138);
}
.country-item,.country-item-value{position: relative;height: 30px;}
.country-item img{
  width: 30px;
  padding: 0;
  height: 30px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.country-item-value p{left: 0 !important;text-align: start !important;}
.country-item p{
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 30px;
  color: #000;
  z-index: 888;
  text-align: end;
}
.modal-custom{width: 50% !important;max-width: 50% !important;}
.open-map{
  cursor: pointer;
  margin: 0px 25px;
  font-size: 25px;
}
.open-filter{
  cursor: pointer;
    margin: 0px 10px;
    font-size: 20px;
    margin-top: 8px;
}
.filter-modal form{width: 50%;margin: 20px auto;}
.filter-modal form input,.filter-modal form select,.filter-modal form p-dropdown{
  display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 7px;
}
.filter-modal form p-dropdown{padding: 0 !important;}
.filter-modal form .half{
  display: inline-block;
  width: 49%;
}
.filter-modal form button{
  display: block;
  width: 85%;
  margin: 10px auto;
}
.voucher-taps{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 5px;
}
.voucher-taps button{
  margin: 0 15px;
  padding: 6px 20px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.voucher-taps button.active,.voucher-taps button:hover{
  color: #fff;
  background-color: #00928a;
  border-color: #00928a;
}
.add-voucher-status img{max-height: 260px;}
/*  Start Settings   */
.settings{
  background-color: #fff;
    border-radius: 10px;
    margin: 3% 20%;
    padding: 40px;
    box-shadow: 0px 0 20px -5px #aaa;
}
.settings .section h4{color: #00928a;}
.settings .setting{
  padding: 5px;
    background-color: #eee;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a6a6a6;
    border-radius: 8px;
    box-shadow: 0px 0 7px -5px #aaa;
}
.settings .setting i,.settings .setting-big i{margin: 0 10px;}
.settings .setting-big{
    padding: 5px 10px;
    background-color: #eee;
    margin: 15px;
    color: #a6a6a6;
    border-radius: 8px;
    box-shadow: 0px 0 7px -5px #aaa;
}
.settings .setting-big a{color: #00928a;display: block;}