<!-- WRAP LAYOUT IF BOXED -->
<div class="container" *ngIf="_boxed; else basicLayoutBlock">
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</div>
<ng-template #basicLayoutBlock>
  <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
</ng-template>

<!-- YOUR LAYOUT CONTENT GOES INSIDE HERE -->
<ng-template #contentTpl>
  <!-- PAGE SIDEBAR -->

  <pg-sidebar>
    <ng-template #sideBarOverlay>
      <div class="row">
        <div class="col-xs-6 no-padding">
          <a href="javascript:void(0)" class="p-l-40"
            ><img src="assets/img/demo/social_app.svg" alt="socail" />
          </a>
        </div>
        <div class="col-xs-6 no-padding">
          <a href="javascript:void(0)" class="p-l-10"
            ><img src="assets/img/demo/email_app.svg" alt="socail" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 m-t-20 no-padding">
          <a href="javascript:void(0)" class="p-l-40"
            ><img src="assets/img/demo/calendar_app.svg" alt="socail" />
          </a>
        </div>
        <div class="col-xs-6 m-t-20 no-padding">
          <a href="javascript:void(0)" class="p-l-10"
            ><img src="assets/img/demo/add_more.svg" alt="socail" />
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template #sideBarHeader>
      <img
        src="assets/img/logo_white.png"
        alt="logo"
        class="brand"
        pgRetina
        src1x="assets/img/logo_white.png"
        src2x="assets/img/logo_white_2x.png"
        width="78"
        height="22"
      />
      <!-- <div class="sidebar-header-controls">
        <button
          type="button"
          class="btn btn-link d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none c-padding"
          data-toggle-pin="sidebar"
          (click)="toggleMenuPin()"
        >
          <i class="fa fs-12"></i>
        </button>
      </div> -->
    </ng-template>
    <ng-template #menuItems>
      <pg-menu-items [Items]="menuLinks"> </pg-menu-items>
    </ng-template>
  </pg-sidebar>

  <!-- PAGE CONTAINER -->
  <page-container>
    <pg-header [boxed]="_boxed">
      <!-- START MOBILE SIDEBAR TOGGLE -->
      <a
        href="javascript:void(0);"
        class="btn-link toggle-sidebar d-lg-none pg pg-menu"
        (click)="toggleMobileSidebar()"
      ></a>
      <!-- END MOBILE SIDEBAR TOGGLE -->
      <div class="">
        <!-- START EMAIL MOBILE TOGGLE -->
        <a
          href="javascript:void(0);"
          class="toggle-secondary-sidebar"
          (click)="toggleSecondarySideBar()"
          *ngIf="_layoutOption === 'email'"
          >Inbox <span class="text-info">(12)</span> <span class="caret"></span
        ></a>
        <!-- END EMAIL MOBILE TOGGLE -->

        <div class="brand inline" [class.d-none]="_layoutOption === 'email'">
          <a [routerLink]="['/']">
            <img
              src="assets/img/logo.png"
              alt="logo"
              pgRetina
              src1x="assets/img/logo.png"
              src2x="assets/img/logo_2x.png"
              width="78"
              height="22"
            />
          </a>
        </div>
        <!-- <a
          href="javascript:void(0)"
          class="search-link d-lg-inline-block d-none"
          (click)="openSearch($event)"
          ><i class="pg pg-search"></i>Type anywhere to
          <span class="bold">search</span></a
        > -->
      </div>
      <div class="d-flex align-items-center">
        <div class="add-list" dropdown *ngIf="isWholesaler()">
          <button
            class="dropdown-toggle"
            type="button"
            dropdownToggle
            id="addList"
          >
            <i class="fas fa-plus"></i>
            Add
          </button>
          <div
            class="dropdown-menu dropdown-menu-right addList"
            *dropdownMenu
            role="menu"
          >
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['/user/add-product']"
            >
              <i class="fas fa-adjust"></i>
              New Product
            </a>
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['/user/add-representative']"
            >
              <i class="fas fa-adjust"></i>
              New Representative
            </a>
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['/user/add-invoice']"
            >
              <i class="fas fa-file-invoice"></i>
              New Invoice
            </a>
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['/user/add-client']"
            >
              <i class="fas fa-user"></i>
              New Client
            </a>
          </div>
        </div>

        <!-- START User Info -->
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
          <span class="semi-bold">{{ userName }}</span>
        </div>
        <div class="dropdown pull-right d-lg-block d-none" dropdown>
          <button
            class="profile-dropdown-toggle"
            type="button"
            dropdownToggle
            id="profileDropdown"
          >
            <span class="thumbnail-wrapper d32 circular inline">
              <img
                [src]="userPhoto"
                alt=""
                pgRetina
                src1x="assets/img/profiles/avatar.jpg"
                src2x="assets/img/profiles/avatar_small2x.jpg"
                width="32"
                height="32"
              />
            </span>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right profile-dropdown"
            *dropdownMenu
            role="menu"
          >
            <a class="dropdown-item" [routerLink]="['/user/profile']">
              <i class="fs-13 fa fa-user"></i>
              Profile
            </a>

            <a
              class="clearfix bg-master-lighter dropdown-item"
              [routerLink]="['/login']"
              (click)="logout()"
            >
              <span class="pull-left">Logout</span>
              <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
            </a>
          </div>
        </div>

        <div class="notification" dropdown>
          <button
            class="dropdown-toggle"
            type="button"
            dropdownToggle
            id="notifi"
          >
            <p>4</p>
            <i class="fas fa-bell"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right notifi"
            *dropdownMenu
            role="menu"
          >
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['/user/add-product']"
            >
              <div class="item-details">
                <div><i class="fas fa-bell"></i></div>
                <div>
                  <h6>Invoice with id #164 Change</h6>
                  <p>Invoice with id #164 Change</p>
                  <span>26/10/2020</span>
                </div>
              </div>
            </a>
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['/user/add-product']"
            >
              <div class="item-details">
                <div><i class="fas fa-bell"></i></div>
                <div>
                  <h6>Invoice with id #164 Change</h6>
                  <p>Invoice with id #164 Change</p>
                  <span>26/10/2020</span>
                </div>
              </div>
            </a>
            <a
              class="dropdown-item"
              href="#"
              [routerLink]="['/user/add-product']"
            >
              <div class="item-details">
                <div><i class="fas fa-bell"></i></div>
                <div>
                  <h6>Invoice with id #164 Change</h6>
                  <p>Invoice with id #164 Change</p>
                  <span>26/10/2020</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- END User Info -->
      </div>
    </pg-header>
    <div class="page-content-wrapper {{ _pageContainerClass }}">
      <!-- START PAGE CONTENT -->
      <div class="content {{ _contentClass }}">
        <router-outlet></router-outlet>
      </div>
      <!-- END PAGE CONTENT -->
      <!-- START COPYRIGHT -->
      <ng-template [ngIf]="_footer">
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright &copy; 2019</span>
              <span class="font-montserrat"> INOS</span>.
              <span class="hint-text">All rights reserved.</span>
            </p>

            <p class="small no-margin pull-right sm-pull-reset">
              Powered By:
              <span class="hint-text"
                ><img
                  src="../../../../assets/img/Digis-Squared-Logotype@2x.svg"
                  alt="DigiS2 Logo"
                  width="45"
                  style="margin-top: -2px"
              /></span>
            </p>

            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </ng-template>
    </div>
  </page-container>
  <!-- QUICKSEARCH -->
  <!-- <app-search-overlay></app-search-overlay> -->
  <!-- QUICKVIEW -->
  <!-- <app-quickview></app-quickview> -->
</ng-template>
