.register-container {
  max-width: 850px !important;
  width: 100%;
}
.register {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  color: #000;
  span {
    color: #00473f;
    text-decoration: underline;
  }
}
.logo {
  object-fit: contain;
  transform: scale(2);
}
.customSelect {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  width: 100%;
  transition: background-color 0.2s ease;
}
.row [class*="col-"] {
  padding-left: 7px;
  padding-right: 7px;
}

.form-check {
  display: inline-block;
  margin: 0 15px 15px;
}
.form-check:first-of-type {
  margin: 0;
}

agm-map {
  height: 250px;
  margin-bottom: 1.3rem;
  display: block;
}
