<div class="register-wrapper">
  <!-- START register Right Container-->
  <div class="register-container bg-white">
    <div
      class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40"
    >
      <img
      class="logo"
        src="assets/img/logo.png"
        alt="logo"
        pgRetina
        src1x="assets/img/logo.png"
        src2x="assets/img/logo_2x.png"
        width="78"
        height="22"
      />

      <p class="p-t-35">
        <b>Complete the registration, </b>
        <br />
        Fill out the fields below
      </p>
      <!-- START Login Form -->
      <div class="p-t-15">
        <!-- START Form Control-->
        <div *ngIf="step == 1">
          <form #f="ngForm" role="form">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group customSelect required">
                  <label class="">User Type</label>
                  <div class="d-block">
                    <p-dropdown
                      [options]="users"
                      #userType="ngModel"
                      required="required"
                      name="userType"
                      [(ngModel)]="registerData.type"
                      placeholder="Select User"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="registerData.type != 5">
                <div class="col-lg-6">
                  <div
                    class="form-group form-group-default"
                    [ngClass]="{
                      'has-error': store_name.touched && !store_name.valid
                    }"
                  >
                    <label *ngIf="registerData.type == 1">Company Name</label>
                    <label *ngIf="registerData.type == 2">Store Name</label>
                    <input
                      type="text"
                      #store_name="ngModel"
                      required="required"
                      minlength="3"
                      name="store_name"
                      [placeholder]="
                        registerData.type == 1 ? 'Company' : 'Store' + ' Name'
                      "
                      class="form-control no-shadow"
                      [(ngModel)]="registerData.store_name"
                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div
                    class="form-group form-group-default"
                    [ngClass]="{
                      'has-error':
                        store_responsible_name.touched &&
                        !store_responsible_name.valid
                    }"
                  >
                    <label *ngIf="registerData.type == 1">
                      Company Responsible Name</label
                    >
                    <label *ngIf="registerData.type == 2">
                      Store Responsible Name</label
                    >

                    <input
                      type="text"
                      required
                      [(ngModel)]="registerData.store_responsible_name"
                      #store_responsible_name="ngModel"
                      required="required"
                      minlength="3"
                      name="store_responsible_name"
                      [placeholder]="
                        registerData.type == 1
                          ? 'Company  Responsible Name'
                          : 'Store  Responsible Name'
                      "
                      class="form-control no-shadow"
                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div
                    class="form-group form-group-default add-mob-num required"
                    [ngClass]="{
                      'has-error': phone.touched && !phone.valid
                    }"
                  >
                    <label> Mobile Number</label>
                    <p-dropdown
                  [options]="countries"
                  optionLabel="name"
                  [filter]="true"
                  name="code"
                  [(ngModel)]="selectedCountry"
                  [showClear]="true"
                  placeholder="Select a Country"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="selectedCountry"
                    >
                      <p>{{ selectedCountry.name }}</p>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <img [src]="country.value.flag" />
                      <p>{{ country.value.code }}</p>
                    </div>
                  </ng-template>
                </p-dropdown>
                    <input
                      type="number"
                      #phone="ngModel"
                      required="required"
                      [pattern]="mobNumberPattern"
                      name="phone"
                      [(ngModel)]="registerData.phone"
                      placeholder="Mobile Number"
                      class="form-control no-shadow"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div
                    class="form-group form-group-default"
                    [ngClass]="{
                      'has-error': password1.touched && !password1.valid
                    }"
                  >
                    <i
                      class="fa showPassword"
                      [ngClass]="inputPassword ? 'fa-eye' : 'fa-eye-slash'"
                      (click)="inputPassword = !inputPassword"
                    ></i>
                    <label>Password</label>
                    <input
                      [type]="inputPassword ? 'password' : 'text'"
                      #password1="ngModel"
                      required="required"
                      minlength="6"
                      name="Password1"
                      placeholder="Password"
                      [(ngModel)]="new_password"
                      class="form-control no-shadow"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div
                    class="form-group form-group-default"
                    [ngClass]="{
                      'has-error': password.touched && !password.valid
                    }"
                  >
                    <i
                      class="fa showPassword"
                      [ngClass]="inputPassword2 ? 'fa-eye' : 'fa-eye-slash'"
                      (click)="inputPassword2 = !inputPassword2"
                    ></i>

                    <label>Confirm Password</label>
                    <input
                      [type]="inputPassword2 ? 'password' : 'text'"
                      #password="ngModel"
                      required="required"
                      minlength="6"
                      name="Password"
                      [(ngModel)]="registerData.password"
                      placeholder="Confirm Password"
                      class="form-control no-shadow"
                    />
                  </div>
                </div>
              </ng-container>

              <div class="col-lg-6" *ngIf="registerData.type == 5">
                <div
                  class="form-group form-group-default add-mob-num required"
                  [ngClass]="{
                    'has-error': phone.touched && !phone.valid
                  }"
                >
                  <label> Mobile Number</label>
                  <p-dropdown
                  [options]="countries"
                  optionLabel="name"
                  [filter]="true"
                  name="code"
                  [(ngModel)]="selectedCountry"
                  [showClear]="true"
                  placeholder="Select a Country"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="selectedCountry"
                    >
                      <p>{{ selectedCountry.name }}</p>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <img [src]="country.value.flag" />
                      <p>{{ country.value.code }}</p>
                    </div>
                  </ng-template>
                </p-dropdown>
                  <input
                    type="text"
                    #phone="ngModel"
                    required="required"
                    [pattern]="mobNumberPattern"
                    name="phone"
                    [(ngModel)]="registerData.phone"
                    placeholder="Mobile Number"
                    class="form-control no-shadow"
                  />
                </div>
              </div>
            </div>
          </form>
          <div class="d-flex justify-content-end">
            <button
              class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-right"
              (click)="CheckPassword()"
              *ngIf="registerData.type != 5"
              [disabled]="f.invalid"
            >
              <span>Next Step</span>
            </button>
            <button
              class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-right"
              (click)="findRepresentativePhone(registerData.phone)"
              *ngIf="registerData.type == 5"
              [disabled]="f.invalid"
            >
              <span>Check </span>
            </button>
          </div>
        </div>
        <div *ngIf="step == 2">
          <form #f1="ngForm" role="form">
            <div class="row">
              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error': vat_number.touched && !vat_number.valid
                  }"
                >
                  <label> Vat Number</label>
                  <input
                    type="number"
                    #vat_number="ngModel"
                    required="required"
                    name="vat_number"
                    pattern="[0-9]{15}"
                    [(ngModel)]="registerData.vat_number"
                    placeholder="Vat Number"
                    class="form-control no-shadow"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error':
                      commercial_registered.touched &&
                      !commercial_registered.valid
                  }"
                >
                  <label>CRN (10 digits)</label>
                  <input
                    type="number"
                    #commercial_registered="ngModel"
                    required="required"
                    name="commercial_registered"
                    pattern="[0-9]{10}"
                    [(ngModel)]="registerData.commercial_registered"
                    max="10"
                    placeholder="CRN (10 digits)"
                    class="form-control no-shadow"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error': branch_id.touched && !branch_id.valid
                  }"
                >
                  <label>Store Branch Number </label>
                  <input
                    type="number"
                    #branch_id="ngModel"
                    required="required"
                    name="branch_id"
                    [(ngModel)]="registerData.branch_id"
                    placeholder="Store Branch Number "
                    class="form-control no-shadow"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group form-group-default required">
                  <label> Owner </label>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        [(ngModel)]="registerData.owner_type"
                        value="individual"
                        checked="true"
                      />individual
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="company"
                        [(ngModel)]="registerData.owner_type"
                      />Company
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error': owner_name.touched && !owner_name.valid
                  }"
                >
                  <label *ngIf="registerData.owner_type == 'company'"
                    >Company Name</label
                  >
                  <label *ngIf="registerData.owner_type == 'individual'"
                    >Store Name</label
                  >
                  <input
                    type="text"
                    #owner_name="ngModel"
                    required="required"
                    name="owner_name"
                    minlength="3"
                    placeholder=" Name"
                    class="form-control no-shadow"
                    [(ngModel)]="registerData.owner_name"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div
                  class="form-group form-group-default add-mob-num required"
                  [ngClass]="{
                    'has-error': contact_info.touched && !contact_info.valid
                  }"
                >
                  <label> Mobile Number</label>
                  <p-dropdown
                  [options]="countries"
                  optionLabel="name"
                  [filter]="true"
                  name="code"
                  [(ngModel)]="selectedCountry"
                  [showClear]="true"
                  placeholder="Select a Country"
                >
                  <ng-template pTemplate="selectedItem">
                    <div
                      class="country-item country-item-value"
                      *ngIf="selectedCountry"
                    >
                      <p>{{ selectedCountry.name }}</p>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <img [src]="country.value.flag" />
                      <p>{{ country.value.code }}</p>
                    </div>
                  </ng-template>
                </p-dropdown>
                  <input
                    type="text"
                    #contact_info="ngModel"
                    required="required"
                    [pattern]="mobNumberPattern"
                    name="contact_info"
                    placeholder="Mobile Number"
                    class="form-control no-shadow"
                    [(ngModel)]="registerData.contact_info"
                  />
                </div>
              </div>
            </div>
          </form>

          <div class="d-flex justify-content-between">
            <button
              class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-left"
              (click)="step = 1"
            >
              <span>Previous </span>
            </button>

            <button
              class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-right"
              (click)="registerStep2()"
              [disabled]="f1.invalid"
            >
              <span>Next Step</span>
            </button>
          </div>
        </div>
        <div *ngIf="step == 3">
          <div class="row">
            <div class="col-12">
              <p class="mb-2">
                <b> Your Location </b>
              </p>
              <agm-map
                [latitude]="mapCenter.lat"
                [longitude]="mapCenter.lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                (mapClick)="mapClicked($event)"
              >
                <agm-marker
                  *ngFor="let m of markers; let i = index"
                  (markerClick)="clickedMarker(m.label, i)"
                  [latitude]="m.lat"
                  [longitude]="m.lng"
                  [label]="m.label"
                  [markerDraggable]="m.draggable"
                  (dragEnd)="markerDragEnd(m, $event)"
                >
                  <agm-info-window>
                    <strong>InfoWindow content</strong>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button
              class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-left"
              (click)="step = 2"
            >
              <span>Previous </span>
            </button>

            <button
              class="btn btn-success btn-cons btn-animated from-top fa fa-sign-in"
              (click)="create()"
              [disabled]="!lat && !lng"
            >
              <span>Finish</span>
            </button>
          </div>
        </div>
        <div *ngIf="step == 4">
          <form #f3="ngForm" role="form">
            <div class="row">
              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error': profile_code.touched && !profile_code.valid
                  }"
                >
                  <label>SMS Code</label>
                  <input
                    type="text"
                    #profile_code="ngModel"
                    required="required"
                    name="profile_code"
                    [(ngModel)]="registerData.profile_code"
                    placeholder=" SMS Code"
                    class="form-control no-shadow"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error': name.touched && !name.valid
                  }"
                >
                  <label> Full Name</label>

                  <input
                    type="text"
                    #name="ngModel"
                    required="required"
                    name="name"
                    minlength="3"
                    [(ngModel)]="registerData.name"
                    placeholder=" Full Name"
                    class="form-control no-shadow"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error': new_password1.touched && !new_password1.valid
                  }"
                >
                  <i
                    class="fa showPassword"
                    [ngClass]="inputPassword3 ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="inputPassword3 = !inputPassword3"
                  ></i>
                  <label>Password</label>
                  <input
                    [type]="inputPassword3 ? 'password' : 'text'"
                    #new_password1="ngModel"
                    required="required"
                    minlength="6"
                    name="new_password1"
                    [(ngModel)]="new_password"
                    placeholder="Password"
                    class="form-control no-shadow"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  class="form-group form-group-default"
                  [ngClass]="{
                    'has-error': password.touched && !password.valid
                  }"
                >
                  <i
                    class="fa showPassword"
                    [ngClass]="inputPassword4 ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="inputPassword4 = !inputPassword4"
                  ></i>
                  <label>Confirm Password</label>
                  <input
                    [type]="inputPassword4 ? 'password' : 'text'"
                    #password="ngModel"
                    minlength="6"
                    required="required"
                    name="password"
                    [(ngModel)]="registerData.password"
                    placeholder="Confirm Password"
                    class="form-control no-shadow"
                  />
                </div>
              </div>
            </div>
          </form>

          <div class="d-flex justify-content-between">
            <button
              class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-left"
              (click)="step = 1"
            >
              <span>Previous </span>
            </button>

            <button
              class="btn btn-success btn-cons btn-animated from-top fa fa-sign-in"
              (click)="send()"
              [disabled]="f3.invalid"
            >
              <span>Finish</span>
            </button>
          </div>
        </div>
        <a [routerLink]="['/login']" class="register" *ngIf="step == 1"
          >Already a member? <span>login </span></a
        >
      </div>
      <!--END Login Form-->
    </div>
  </div>
  <!-- END Login Right Container-->
</div>
